flows.json
[
    {
        "id": "7419e6f670b0c2f6",
        "type": "tab",
        "label": "DeviceA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "152d879257fe666c",
        "type": "tab",
        "label": "web-app",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2c5d25cb.3428ca",
        "type": "subflow",
        "name": "App NavBar",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "c104210d.418eb"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "c104210d.418eb",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "ca529822.9112f8",
        "type": "subflow",
        "name": "HTML",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "99bb1519.85fc18"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "e3c68b88.d82258",
        "type": "subflow",
        "name": "App CSS",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "f5a9eda8.5c5bc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 320,
                "y": 80,
                "wires": [
                    {
                        "id": "f5a9eda8.5c5bc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "8341090a.df9758",
        "type": "subflow",
        "name": "App HTML",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "966e270e.701e48"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Blinky-Lite-Tutorial",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "79250bf3.365cc4",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "$(MQTTSERVERIP)",
        "port": "1883",
        "clientid": "$(MQTTCLIENTID)",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "35dac3a.ca7763c",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Setup Oscillation Overthruster",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 3,
                "gy": 3,
                "cx": 3,
                "cy": 3,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "85ff0957.70def8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Setup Oscillation Overthruster",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 3,
                "gy": 3,
                "cx": 3,
                "cy": 3,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "44b51478.9c022c",
        "type": "websocket-listener",
        "path": "/blinky-beadpull/websocket",
        "wholemsg": "false"
    },
    {
        "id": "8654aaccd19c29eb",
        "type": "mongodb3",
        "uri": "$(MONGODBIP)",
        "name": "blinky-data",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "c104210d.418eb",
        "type": "template",
        "z": "2c5d25cb.3428ca",
        "name": "navBar",
        "field": "payload.navBar",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!-- navBar -->\n    <div class=\"jumbotron\" width=\"100%\">\n        <table width=\"100%\">\n            <tr>\n                <td style=\"text-align:left; vertical-align:middle;\"  width=\"20%\">\n                    <img src=\"/img/bl-mc-icon-inverse.png\" height=\"75px\"/>\n                </td>\n                <td width=\"60%\" style=\"text-align:center; vertical-align:middle;\">\n                    <h1 class=\"jumbotron-title big-text bold-text\">\n                        <img src=\"/img/{{{payload.navBarIcon}}}\" height=\"75px\" style=\"padding-right:20px;\"/><span>{{{payload.title}}}</span>\n                    </h1>\n                </td>\n                <td style=\"text-align:right; vertical-align:middle;\" width=\"20%\">\n                    <a href='/apps'><img src=\"/img/appsYellow.png\" height=\"75px\"/></a>\n                </td>\n            </tr>\n        </table>\n    </div>",
        "output": "str",
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b9df3f26.ab53f",
        "type": "template",
        "z": "ca529822.9112f8",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n{{{payload.head}}}\n  </head>\n  <body>\n{{{payload.navBar}}}\n{{{payload.html.websocket}}}\n{{{payload.body}}}\n{{{payload.foot}}}\n  </body>\n</html>",
        "output": "str",
        "x": 1150,
        "y": 40,
        "wires": [
            [
                "d1d9e12b.926ff"
            ]
        ]
    },
    {
        "id": "895ba39c.86e59",
        "type": "template",
        "z": "ca529822.9112f8",
        "name": "Foot",
        "field": "payload.foot",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "    <div id=\"acknowledgeDialog\" title=\"Acknowledge\" class='card'>\n        <p class='card-title' id='acknowledgeDialogTitle'>Warning</p>\n        <div class='card-body'>\n            <p class='tableText' id='acknowledgeDialogText'>Text</p>\n        </div>\n    </div>\n    <div id=\"optionDialog\" title=\"Option\" class='card'>\n        <p class='card-title' id='optionDialogTitle'>Choice</p>\n        <div class='card-body'>\n            <p class='tableText' id='optionDialogText'>Text</p>\n        </div>\n    </div>\n    <div id=\"messageDialog\" title=\"Message\" class='card'>\n        <p class='card-title' id='messageDialogTitle'>Warning</p>\n        <div class='card-body'>\n            <p class='tableText' id='messageDialogText'>Text</p>\n        </div>\n    </div>\n    <script src=\"/scripts/popper.js\"></script>\n    <script src=\"/scripts/bootstrap.js\"></script>",
        "output": "str",
        "x": 690,
        "y": 40,
        "wires": [
            [
                "a9a62959.7c01e8"
            ]
        ]
    },
    {
        "id": "aa17ff35.7cdfd",
        "type": "template",
        "z": "ca529822.9112f8",
        "name": "Head",
        "field": "payload.head",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "    <meta charset=\"UTF-8\">\n    <link rel=\"icon\" href=\"/img/favicon.ico?v=4\" type=\"image/x-icon\"/>\n    <title>{{payload.title}}</title>\n    <link rel=\"stylesheet\" href=\"/css/bootstrap.css\"/>\n    <link rel=\"stylesheet\" href=\"/jquery/jquery-ui.css\"/>\n    <link rel=\"stylesheet\" href=\"/jquery/jquery-ui-timepicker-addon.css\"/>\n    <script src=\"/jquery/jquery.js\"></script>\n    <script src=\"/jquery/jquery-ui.js\"></script>\n    <script src=\"/jquery/jquery-ui-timepicker-addon.js\"></script>\n    <script src=\"/scripts/plotly-latest.min.js\"></script>\n{{{payload.extraScripts}}}\n    <style>\n{{{payload.css}}}\n    </style>\n    <style>\n{{{payload.extraCss}}}\n    </style>\n    <script>\n{{{payload.utilityScripts}}}\n    </script>\n    <script>\n{{{payload.javascript}}}\n    </script>",
        "output": "str",
        "x": 570,
        "y": 40,
        "wires": [
            [
                "895ba39c.86e59"
            ]
        ]
    },
    {
        "id": "d1d9e12b.926ff",
        "type": "http response",
        "z": "ca529822.9112f8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1270,
        "y": 40,
        "wires": []
    },
    {
        "id": "c4ed2505.8c07e8",
        "type": "template",
        "z": "ca529822.9112f8",
        "name": "Utility Scripts",
        "field": "payload.utilityScripts",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "        var remoteApp = true;\n        var ws;\n        var userID = -1;\n        var useWebSocketsFlag = true;\n        var project = '{{{payload.project}}}';\n        var heartBeatImage = false;\n        var wsUri = '';\n        var wsConnected = false;\n\n        function setRemoteApp(remoteAppSet)\n        {\n            remoteApp  = remoteAppSet;\n        }\n        function webSocketConnected()\n        {\n            return wsConnected;\n        }\n        function useWebSockets(webSocketsFlag)\n        {\n            useWebSocketsFlag = webSocketsFlag;\n        }\n        function wsConnectC()\n        {\n            if (!useWebSocketsFlag)\n            {\n                return;\n            }\n            if (wsUri.length < 1)\n            {\n                var uri = window.location.href.split('://');\n                var wslead = 'ws://';\n                if (uri[0] == 'https') wslead = 'wss://';\n                var questionLocation = uri[1].indexOf('?');\n                if (questionLocation >= 0)\n                {\n                    uri[1] = uri[1].substring(0,questionLocation);\n//                    console.log(uri[1]);\n                }\n                if (uri[1].indexOf('/') < (uri[1].length - 1))\n                {\n                    wsUri = wslead + uri[1] + '/websocket';\n                }\n                else\n                {\n                    wsUri = wslead + uri[1] + 'websocket';\n                }\n            }\n            ws = new WebSocket(wsUri);\n            ws.onmessage = function(event)\n            {\n                onWebSocketMessage(JSON.parse(event.data));\n        \n            };\n            ws.onopen = function()\n            {\n                console.log(\"Websocket connected\");\n                wsConnected = true;\n                $('#webSocketStatus').html('Open');\n                $('#reOpenWebSocketButton').hide();\n                $('#webSocketStatusRow').css('padding-bottom','0px');\n                $('#webSocketStatusCard').hide();\n                onWebSocketOpen();\n            };\n            ws.onclose = function()\n            {\n                console.log(\"Websocket closed\");\n                wsConnected = false;\n                $('#webSocketStatus').html('Closed');\n                $('#reOpenWebSocketButton').show();\n                $('#webSocketStatusCard').show();\n                $('#webSocketStatusRow').css('padding-bottom','25px');\n                onWebSocketClose();\n                wsConnectC();\n            };\n        }\n\n        function getRandomInt(max)\n        {\n          return Math.floor(Math.random() * Math.floor(max));\n        }\n        $( document ).ready(function()\n        {\n            userID  = {{{payload.userID}}};\n            if (!useWebSocketsFlag)\n            {\n                $('#webSocketStatusRow').css('padding-bottom','0px');\n                $('#webSocketStatusCard').hide();\n            }\n            wsConnectC();\n            onDocumentReady();\n       });\n        $( function() \n        {\n            $( \"#acknowledgeDialog\" ).dialog(\n                {\n                    width:    500,\n                    autoOpen: false,\n                    buttons:\n                    [\n                        {\n                            text: \"Ok\",\n                            click: function() { $( this ).dialog( \"close\" );},\n                            showText: false\n                        },\n                   ]\n                });\n            $( \"#messageDialog\" ).dialog(\n                {\n                    width:    500,\n                    autoOpen: false,\n                    buttons:[]\n                });\n        } );\n        function optionDialog(headerText, title, text, buttonTexts, buttonFunctions)\n        {\n            var buttonDefinitions = [];\n            for (var ii = 0; ii < buttonTexts.length; ++ii)\n            {\n                buttonDefinitions[ii] = \n                    {\n                        text: buttonTexts[ii],\n                        click: buttonFunctions[ii],\n                        showText: false\n                    };\n            }\n            $( \"#optionDialog\" ).dialog( \"option\", \"title\", headerText );   \n            $( \"#optionDialog\" ).dialog( \"option\", \"buttons\", buttonDefinitions);\n            $( \"#optionDialogTitle\" ).html(title);\n            $( \"#optionDialogText\" ).html(text);\n            $( \"#optionDialog\" ).dialog( \"open\" );\n        }\n        $( function() \n        {\n            $( \"#optionDialog\" ).dialog(\n                {\n                    width:    500,\n                    autoOpen: false,\n                    buttons:\n                    [\n                        {\n                            text: \"Ok\",\n                            click: function() {$( this ).dialog( \"close\" );},\n                            showText: false\n                        },\n                        {\n                            text: \"Cancel\",\n                            click: function() {$( this ).dialog( \"close\" );},\n                            showText: false\n                        },\n                   ]\n                });\n        } );\n        function acknowledgeDialog(headerText, title, text)\n        {\n            $( \"#acknowledgeDialog\" ).dialog( \"option\", \"title\", headerText );    \n            $( \"#acknowledgeDialogTitle\" ).html(title);\n            $( \"#acknowledgeDialogText\" ).html(text);\n            $( \"#acknowledgeDialog\" ).dialog( \"open\" );\n        }\n        function messageDialog(headerText, title, text)\n        {\n            $( \"#messageDialog\" ).dialog( \"option\", \"title\", headerText );    \n            $( \"#messageDialogTitle\" ).html(title);\n            $( \"#messageDialogText\" ).html(text);\n            $( \"#messageDialog\" ).dialog( \"open\" );\n        }\n        function heartbeat()\n        {\n            heartBeatImage = !heartBeatImage;\n            var heartBeatImageSrc = '/img/heartRed.png';\n            if (heartBeatImage) heartBeatImageSrc = '/img/heartPink.png';\n            $('#heartBeatID').attr('src',heartBeatImageSrc);\n        }\n        function getCookie(extension)\n        {\n            var cookies = document.cookie.split(';');\n            var token = null;\n            var cookieName = project + extension + \"=\";\n            for (var icookie = 0; icookie < cookies.length; ++icookie)\n            {\n                var index = cookies[icookie].indexOf(cookieName);\n                if (index >= 0)\n                {\n                    token = cookies[icookie].substring(index + cookieName.length);\n                }\n            }\n            return token;\n        }\n        function sendActionMsg(topic,role,actionMsg)\n        {\n            var roleToken = \"\";\n            if (remoteApp) roleToken  = getCookie('Role');\n            if (roleToken == null)\n            {\n                location.reload();\n                return;\n            }\n            var webSocketMsg = \n            {\n                topic     : topic,\n                payload   : actionMsg,\n                userID    : userID,\n                token     : getCookie('Role'),\n                role      : role\n            };\n            ws.send(JSON.stringify(webSocketMsg));\n        }\n",
        "output": "str",
        "x": 430,
        "y": 40,
        "wires": [
            [
                "aa17ff35.7cdfd"
            ]
        ]
    },
    {
        "id": "99bb1519.85fc18",
        "type": "function",
        "z": "ca529822.9112f8",
        "name": "Get project name and userID",
        "func": "function getRandomInt(max)\n{\n  return Math.floor(Math.random() * Math.floor(max));\n}\nmsg.payload['project'] = global.get('project')\nmsg.payload['userID'] = getRandomInt(32768);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 40,
        "wires": [
            [
                "c4ed2505.8c07e8"
            ]
        ]
    },
    {
        "id": "a9a62959.7c01e8",
        "type": "template",
        "z": "ca529822.9112f8",
        "name": "html.websocket",
        "field": "payload.html.websocket",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!-- websocket status HTML -->\n    <div width=\"100%\">\n        <div class='row' id='webSocketStatusRow' style='padding-bottom: 0px;'>\n            <div class='col-md-12' align='center'>\n\n                <div class='card' id='webSocketStatusCard' >\n                    <p class='card-title'>Web Socket Status</p>\n                    <div class='card-body' align=\"center\">\n                        <div class='row'  style='padding-top: 0px;'>\n                            <table width='100%'>\n                                <tr>\n                                    <td width='60%' >\n                                        <span class='card-text' >Websocket Status</span>\n                                    </td>\n                                    <td width='20%' align='center'>\n                                        <button class='btn card-button btn-block big-text' id='reOpenWebSocketButton' onclick=\"wsConnectC()\">Re-open</button>\n                                    </td>\n                                    <td width='20%' align='center'>\n                                        <span class='card-text' id='webSocketStatus' >Closed</span>\n                                   </td>\n                                </tr>\n                            </table>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </div>\n",
        "output": "str",
        "x": 840,
        "y": 40,
        "wires": [
            [
                "35ffcf83.1547"
            ]
        ]
    },
    {
        "id": "35ffcf83.1547",
        "type": "function",
        "z": "ca529822.9112f8",
        "name": "IP filter",
        "func": "var ipfilter = [\n    \"127.0.0.16\"];\nvar ipAddress = ( msg.req.headers['x-forwarded-for'] || '').split(',').pop() || \n          msg.req.connection.remoteAddress || \n          msg.req.socket.remoteAddress || \n          msg.req.connection.socket.remoteAddress;\nif (ipAddress==undefined) return null;\nvar ipAddressSplit = ipAddress.split(\".\");\nfor (var ii =  0; ii < ipfilter.length; ++ii)\n{\n    var ipfilterSplit = ipfilter[ii].split(\".\");\n    if (ipAddress == ipfilter[ii])\n    { \n        return null;\n    }\n    if (ipfilterSplit[2] == '*')\n    {\n        if ((ipfilterSplit[0] == ipAddressSplit[0]) && (ipfilterSplit[1] == ipAddressSplit[1]))\n        {\n            return null;\n        }\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 990,
        "y": 40,
        "wires": [
            [
                "b9df3f26.ab53f"
            ]
        ]
    },
    {
        "id": "f5a9eda8.5c5bc",
        "type": "template",
        "z": "e3c68b88.d82258",
        "name": "CSS",
        "field": "payload.css",
        "fieldType": "msg",
        "format": "css",
        "syntax": "mustache",
        "template": "        :root \n        {\n          --color1: #415c71;\n          --color2: #547792;\n          --color3: #9eb5c7;\n          --color4: #c6c2bb;\n          --color5: #fdc300;\n          --big-text-size :300%;\n          --bold-text :900;\n          --vert-pad : 25px;\n          --horz-pad : 25px;\n        }\n        body \n        {\n          background-color: white !important;\n          padding-left:25px;\n          padding-right:25px;\n        }\n        \n        img \n        {\n          object-fit: contain;\n        }\n        a\n        {\n            color: white;\n        }\n        a:visited \n        { \n            color: var(--white);\n        }\n        a:hover \n        { \n            color: var(--color5);\n        }\n\n        .jumbotron \n        {\n          background-color: var(--color2) !important;\n          color: white;\n          padding-top:25px;\n          padding-bottom:25px;\n        }\n        .jumbotron-title\n        {\n          color:var(--color5);\n        }\n        .jumbotron-button\n        {\n          color: white;\n          background-color: var(--color1);\n       }\n        .card\n        {\n          background-color: var(--color2) !important;\n          text-align: center;\n        }\n        .card-body\n        {\n          background-color: var(--color3);;\n        }\n        .card-button\n        {\n          color: var(--color5) !important;\n          background-color: var(--color1) !important;\n          font-weight: bold;\n        }\n        .card-title\n        {\n          color: var(--color5);\n          font-weight: var(--bold-text);\n          font-size: var(--big-text-size);\n         }\n        .card-text\n        {\n          color: white;\n          text-align: left;\n          font-size: var(--big-text-size);\n        }\n        .danger-card\n        {\n          background-color: yellow !important;\n          text-align: center;\n        }\n        .danger-card-body\n        {\n          background-color: yellow;\n        }\n        .danger-card-button\n        {\n          color: yellow !important;\n          background-color: red !important;\n          font-weight: bold;\n        }\n        .danger-card-title\n        {\n          color: red;\n          font-weight: var(--bold-text);\n          font-size: var(--big-text-size);\n         }\n        .danger-card-text\n        {\n          color: white;\n          text-align: left;\n          font-size: var(--big-text-size);\n        }\n        .tableHeading\n        {\n          color:var(--container-title-color);\n        }\n        .tableText\n        {\n          color:var(--container-text-color);\n          font-size: var(--big-text-size);\n        }\n       .vert-pad\n        {\n            padding-top:var(--vert-pad);;\n            padding-bottom:var(--vert-pad);;\n        }\n        .horz-pad\n        {\n            padding-left:var(--horz-pad);;\n            padding-right:var(--horz-pad);;\n        }\n        .big-text\n        {\n            font-size: var(--big-text-size);\n        }\n        .bold-text\n        {\n            font-weight: var(--bold-text);\n        }\n       .ui-dialog-titlebar-close \n        {\n            visibility: hidden;\n        }\n        input.inputLarger \n        { \n            transform: scale(3); \n            margin: 1px;\n        }\n        .googleSlide4by3-container \n        {\n            position: relative;\n            overflow: hidden;\n            padding-top: 75.0%;\n        }\n        .googleSlide4by3-iframe {\n            position: absolute;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            border: 0;\n        }        \n        .custom-select\n        {\n            color: black;\n            background-color: white;\n            height:80px;\n            line-height:70px;\n        }\n",
        "output": "str",
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "966e270e.701e48",
        "type": "subflow:e3c68b88.d82258",
        "z": "8341090a.df9758",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "899d0666.97b868"
            ]
        ]
    },
    {
        "id": "9460eaf0.da7628",
        "type": "subflow:ca529822.9112f8",
        "z": "8341090a.df9758",
        "name": "",
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "899d0666.97b868",
        "type": "subflow:2c5d25cb.3428ca",
        "z": "8341090a.df9758",
        "x": 420,
        "y": 80,
        "wires": [
            [
                "9460eaf0.da7628"
            ]
        ]
    },
    {
        "id": "e20ca15fb632434b",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Save device config in Memory",
        "func": "msg.payload.settingInProgress = 0;\nmsg.payload.scan.value = 0;\nmsg.payload.homeBead.value = 0;\nflow.set('device', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fc2eb29072424bfd",
        "type": "inject",
        "z": "7419e6f670b0c2f6",
        "name": "deviceA",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "deviceA",
        "payload": "MQTTDEVICEA",
        "payloadType": "env",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "30b018e34b199814"
            ]
        ]
    },
    {
        "id": "c7d1bc1a67fe9dc2",
        "type": "file in",
        "z": "7419e6f670b0c2f6",
        "name": "Read device config",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 490,
        "y": 60,
        "wires": [
            [
                "27ecc7397c9f962d"
            ]
        ]
    },
    {
        "id": "27ecc7397c9f962d",
        "type": "json",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 650,
        "y": 60,
        "wires": [
            [
                "e20ca15fb632434b"
            ]
        ]
    },
    {
        "id": "30b018e34b199814",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Init flow Variables",
        "func": "var mqttSplit = msg.payload.split('/');\nvar deviceProps = {\n    project     :   mqttSplit[0],\n    deviceType  :   mqttSplit[1],\n    name        :   mqttSplit[2],\n    configFile  :   mqttSplit[1] + '-' + mqttSplit[2] + '.json',\n    mapFile     :   mqttSplit[1] + '-' + mqttSplit[2] + '-map.json'\n};\nflow.set('deviceProps',deviceProps);\nreturn {topic: 'readFile', 'filename':deviceProps.configFile};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 60,
        "wires": [
            [
                "c7d1bc1a67fe9dc2"
            ]
        ]
    },
    {
        "id": "5779bd77397a4f17",
        "type": "file",
        "z": "7419e6f670b0c2f6",
        "name": "Init Settings",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1370,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6506eac4254d5feb",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Save Settings to File",
        "func": "var jsonPretty = JSON.stringify(flow.get('device'),null,2);\nreturn {topic: msg.payload, payload:jsonPretty, 'filename':flow.get('deviceProps').configFile};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 340,
        "wires": [
            [
                "5779bd77397a4f17"
            ]
        ]
    },
    {
        "id": "080e8b7be1b3f16a",
        "type": "link in",
        "z": "7419e6f670b0c2f6",
        "name": "Device A web socket in",
        "links": [
            "ea909034.6fb25",
            "54310e9b7f6d7f49"
        ],
        "x": 55,
        "y": 240,
        "wires": [
            [
                "082b52af535c3321"
            ]
        ]
    },
    {
        "id": "80e5dcb40b864249",
        "type": "json",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 160,
        "wires": [
            [
                "4eedce1128796fe2"
            ]
        ]
    },
    {
        "id": "59f0086d1e50fb2a",
        "type": "exec",
        "z": "7419e6f670b0c2f6",
        "command": "pm2 restart red",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Restart",
        "x": 500,
        "y": 960,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "dcaeb5f28d993109",
        "type": "switch",
        "z": "7419e6f670b0c2f6",
        "name": "Reset Tray",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 980,
        "wires": [
            [
                "59f0086d1e50fb2a"
            ],
            [
                "87dc68aae06d77df"
            ]
        ]
    },
    {
        "id": "87dc68aae06d77df",
        "type": "exec",
        "z": "7419e6f670b0c2f6",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Reboot",
        "x": 500,
        "y": 1020,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7f81d57f1839a56a",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 980,
        "wires": [
            [
                "dcaeb5f28d993109"
            ]
        ]
    },
    {
        "id": "c44e8a307e417ea3",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Readings Alarm Scan",
        "func": "if (!msg.payload) return null;\nvar device = flow.get('device');\ndevice.linkQuality.value     = global.get('linkQuality');\ndevice.signalLevel.value     = global.get('signalLevel');\nvar alarmFlagReading = scalarAlarmScan(device, 'reading');\nvar alarmFlagSetting = scalarAlarmScan(device, 'setting');\nvar newMsg = null;\nif (alarmFlagReading || alarmFlagSetting)\n{\n    newMsg = \n    {\n        topic: 'alarm',\n        payload: true\n    }\n}\nreturn newMsg;\n\nfunction getActionArray(device, type, actionType)\n{\n    var actionArray = [];\n    var keys = Object.keys(device);\n    for (var ii = 0; ii < keys.length; ++ii)\n    {\n        if (device[keys[ii]].hasOwnProperty('type'))\n        {\n            if (device[keys[ii]].type == type)\n            {\n                if (device[keys[ii]].action == actionType)\n                {\n                    actionArray.push(device[keys[ii]]);\n                }\n            }\n        }\n    }\n    return actionArray;\n}\nfunction scalarAlarmScan(device, actionType)\n{\n    var alarmFlag = false;\n    var actionArray = getActionArray(device, 'scalar', actionType);\n    if (actionArray.length > 0)\n    {\n        for (var ii = 0; ii < actionArray.length; ++ii)\n        {\n            actionArray[ii].alarm.value = 0;\n            if (!isNaN(actionArray[ii].value))\n            {\n                if (actionArray[ii].value <= actionArray[ii].alarm.limits.low)  actionArray[ii].alarm.value = 1;\n                if (actionArray[ii].value <= actionArray[ii].alarm.limits.lolo) actionArray[ii].alarm.value = 3;\n                if (actionArray[ii].value >= actionArray[ii].alarm.limits.high) actionArray[ii].alarm.value = 2;\n                if (actionArray[ii].value >= actionArray[ii].alarm.limits.hihi) actionArray[ii].alarm.value = 4;\n            }\n            if (actionArray[ii].alarm.value > 0)  alarmFlag = true\n        }\n    }\n    return alarmFlag;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 640,
        "wires": [
            [
                "d0f2dcf717dec57d"
            ]
        ]
    },
    {
        "id": "dfb8a6f09ed18976",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Prepare MQTT topic",
        "func": "var mqttArray = msg.topic.split('/');\nvar device = \n{\n    project     : mqttArray[0],\n    deviceType  : mqttArray[1],\n    name        : mqttArray[2],\n    prop        : mqttArray[3],\n};\nreturn {topic : msg.topic, payload:{topic:'readings', mqttDevice : device, payload:msg.payload}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1260,
        "y": 260,
        "wires": [
            [
                "9c19993afce72c6e"
            ]
        ]
    },
    {
        "id": "94dddf198fbea2df",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Create Readings",
        "func": "var device = flow.get('device');\nif (device.archiveNow > 0) return null;\nvar initCube = 0;\n//node.warn(device);\nvar initCubeMsg = null;\nif (initCube == 1)\n{\n    initCubeMsg = {topic:\"initCube\",payload:true};\n    device.settingInProgress = 1;\n}\nreturn  [{topic:'newSettingDone', payload:true},initCubeMsg];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 640,
        "wires": [
            [
                "c44e8a307e417ea3"
            ],
            [
                "74c6d394f2452a62",
                "f0c1e263384a520f"
            ]
        ]
    },
    {
        "id": "9c19993afce72c6e",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Device A web socket out",
        "mode": "link",
        "links": [
            "d033193d.436d68",
            "8e5f3b8b53616d4a"
        ],
        "x": 1395,
        "y": 260,
        "wires": []
    },
    {
        "id": "feb0c9be3896e508",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Create Setting",
        "func": "var device = flow.get('device');\nvar modbusSettingMsg = \n{\n    topic : msg.topic, \n    payload : { value: msg.payload.value, 'fc': 0x6, 'unitid': 1, 'address': -1 , 'quantity': 1 } \n}\nvar modbusMessage = false;\nswitch(msg.payload.attr)\n{\n    default:\n        modbusMessage = false;\n        break;\n}\nvar msgArray = [null,null,null];\nvar settingInProgressMsg = {topic:'settingInProgress', payload:true};\ndevice.settingInProgress = 1;\nif (modbusMessage)\n{\n    msgArray = [modbusSettingMsg, settingInProgressMsg, null];\n}\nelse\n{\n    msgArray = [null,settingInProgressMsg,msg];\n}\nreturn msgArray;",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 340,
        "wires": [
            [],
            [
                "86f177df381b40a3"
            ],
            [
                "8ab264450a444a5c"
            ]
        ]
    },
    {
        "id": "3dc8a08d6a891e59",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "New Setting In",
        "links": [
            "706d51cc29f8cf61"
        ],
        "x": 755,
        "y": 140,
        "wires": []
    },
    {
        "id": "706d51cc29f8cf61",
        "type": "link in",
        "z": "7419e6f670b0c2f6",
        "name": "Modbus setting in",
        "links": [
            "3dc8a08d6a891e59"
        ],
        "x": 55,
        "y": 340,
        "wires": [
            [
                "feb0c9be3896e508"
            ]
        ]
    },
    {
        "id": "0244634fdb568467",
        "type": "switch",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "setting",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ping",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "config",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 650,
        "y": 160,
        "wires": [
            [
                "3dc8a08d6a891e59"
            ],
            [
                "78dc1ef55e87344f"
            ],
            [
                "e7ab55f925ca7596"
            ],
            [
                "661b575f3eb57a5f"
            ]
        ]
    },
    {
        "id": "4eedce1128796fe2",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Filter MQTT",
        "func": "return {topic:msg.topic.split('/')[4], payload:msg.payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "0244634fdb568467"
            ]
        ]
    },
    {
        "id": "44eaf2022c128f46",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Shift Msg",
        "func": "return msg.payload;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            [
                "13622004a965559c"
            ]
        ]
    },
    {
        "id": "13622004a965559c",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Filter Websocket",
        "func": "var inputDeviceProps = msg.payload.topic.split('/');\nvar deviceProps = flow.get('deviceProps')\nif (inputDeviceProps[0] != deviceProps.project) return null;\nif (inputDeviceProps[1] != deviceProps.deviceType) return null;\nif (inputDeviceProps[2] != deviceProps.name) return null;\nreturn {topic:msg.topic, payload:msg.payload.payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 240,
        "wires": [
            [
                "0244634fdb568467"
            ]
        ]
    },
    {
        "id": "082b52af535c3321",
        "type": "json",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "44eaf2022c128f46"
            ]
        ]
    },
    {
        "id": "13f60be205b89b7d",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Publish device",
        "func": "if (!msg.payload) return null;\nvar device = flow.get('device');\nvar newMsg = \n{\n    topic: flow.get('deviceProps').project + '/' + flow.get('deviceProps').deviceType + '/' + flow.get('deviceProps').name + '/reading',\n    payload: JSON.stringify(device)\n};\nreturn  newMsg;  \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 220,
        "wires": [
            [
                "dfb8a6f09ed18976",
                "2b730378156b040d"
            ]
        ]
    },
    {
        "id": "2150949730b4ba06",
        "type": "link in",
        "z": "7419e6f670b0c2f6",
        "name": "Publish Device In",
        "links": [
            "20fe21048e9b9b39",
            "86f177df381b40a3",
            "aaabe575198f3fcc",
            "5acddb44fd53cefc",
            "10e5520c8e21050f",
            "2728624acd3a5537",
            "8287f2bf4cdd395b",
            "f0c1e263384a520f",
            "761d94ca7c02287b",
            "ea4ae6a16ae9d3f5",
            "62c3829a5c30cc2d",
            "f2dd6600413a040c",
            "3956daee839b899a",
            "57e5757ed3278d69"
        ],
        "x": 915,
        "y": 220,
        "wires": [
            [
                "13f60be205b89b7d"
            ]
        ]
    },
    {
        "id": "20fe21048e9b9b39",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Alarm Scan out",
        "links": [
            "2150949730b4ba06"
        ],
        "x": 1235,
        "y": 640,
        "wires": []
    },
    {
        "id": "78dc1ef55e87344f",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Ping Out",
        "mode": "link",
        "links": [
            "cb723eef4eb12e91"
        ],
        "x": 755,
        "y": 180,
        "wires": []
    },
    {
        "id": "86f177df381b40a3",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Create Setting out",
        "mode": "link",
        "links": [
            "2150949730b4ba06"
        ],
        "x": 315,
        "y": 340,
        "wires": []
    },
    {
        "id": "765936897007ed33",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Pause Device readings",
        "func": "var device = flow.get('device');\ndevice.settingInProgress = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 520,
        "wires": [
            [
                "811ed9a3c4b1d325",
                "5acddb44fd53cefc"
            ]
        ]
    },
    {
        "id": "e7ab55f925ca7596",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Config Out",
        "links": [
            "23ede8e3cc8ed0c4"
        ],
        "x": 755,
        "y": 220,
        "wires": []
    },
    {
        "id": "23ede8e3cc8ed0c4",
        "type": "link in",
        "z": "7419e6f670b0c2f6",
        "name": "Pause Device Readings in",
        "links": [
            "e7ab55f925ca7596"
        ],
        "x": 55,
        "y": 520,
        "wires": [
            [
                "765936897007ed33"
            ]
        ]
    },
    {
        "id": "811ed9a3c4b1d325",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 520,
        "wires": [
            [
                "21cfacd892938a9b"
            ]
        ]
    },
    {
        "id": "21cfacd892938a9b",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Save config file",
        "func": "flow.set('device',JSON.parse(JSON.stringify(msg.payload)));\nvar device = flow.get('device');\ndevice.settingInProgress = 1;\n\nreturn {topic:'deviceConfigCompleted', payload:true};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 520,
        "wires": [
            [
                "c0516b9c0339c754",
                "a33e3eb6d5d30179"
            ]
        ]
    },
    {
        "id": "c0516b9c0339c754",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 520,
        "wires": [
            [
                "a705b22a29df7c9d"
            ]
        ]
    },
    {
        "id": "a705b22a29df7c9d",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Continue Device readings",
        "func": "var device = flow.get('device');\ndevice.settingInProgress = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 520,
        "wires": [
            [
                "10e5520c8e21050f"
            ]
        ]
    },
    {
        "id": "52c3ee5d26adffbe",
        "type": "link in",
        "z": "7419e6f670b0c2f6",
        "name": "Save Settings to file in",
        "links": [
            "aaabe575198f3fcc",
            "a33e3eb6d5d30179",
            "8287f2bf4cdd395b",
            "ea4ae6a16ae9d3f5"
        ],
        "x": 1035,
        "y": 340,
        "wires": [
            [
                "6506eac4254d5feb"
            ]
        ]
    },
    {
        "id": "5acddb44fd53cefc",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Pause Device Readings out",
        "links": [
            "2150949730b4ba06"
        ],
        "x": 395,
        "y": 480,
        "wires": []
    },
    {
        "id": "a33e3eb6d5d30179",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Save config file out",
        "links": [
            "52c3ee5d26adffbe"
        ],
        "x": 775,
        "y": 480,
        "wires": []
    },
    {
        "id": "10e5520c8e21050f",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Continue Devie Readings out",
        "links": [
            "2150949730b4ba06"
        ],
        "x": 1175,
        "y": 520,
        "wires": []
    },
    {
        "id": "d0f2dcf717dec57d",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1120,
        "y": 640,
        "wires": [
            [
                "20fe21048e9b9b39"
            ]
        ]
    },
    {
        "id": "e72bfb2a3709d790",
        "type": "inject",
        "z": "7419e6f670b0c2f6",
        "name": "Archive clock",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "8",
        "topic": "archiveClock",
        "payloadType": "date",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "227a5578c26204a9"
            ]
        ]
    },
    {
        "id": "227a5578c26204a9",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Archive Pulse",
        "func": "var device = flow.get('device');\nvar lastArchive = context.get('lastArchive');\nvar now = new Date().getTime();\nif ((now - lastArchive) <= device.arcPeriod) return null;\ncontext.set('lastArchive', now);\nreturn {topic:'archivePulse', payload:true};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set('lastArchive', new Date().getTime());",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "2728624acd3a5537",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Archive Pulse Out",
        "links": [
            "2150949730b4ba06"
        ],
        "x": 475,
        "y": 780,
        "wires": []
    },
    {
        "id": "661b575f3eb57a5f",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Reset Out",
        "links": [
            "74a8a195ebe277f9"
        ],
        "x": 755,
        "y": 260,
        "wires": []
    },
    {
        "id": "74a8a195ebe277f9",
        "type": "link in",
        "z": "7419e6f670b0c2f6",
        "name": "Reset in",
        "links": [
            "661b575f3eb57a5f"
        ],
        "x": 55,
        "y": 980,
        "wires": [
            [
                "7f81d57f1839a56a"
            ]
        ]
    },
    {
        "id": "8287f2bf4cdd395b",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "nonModbusSetting Out",
        "mode": "link",
        "links": [
            "2150949730b4ba06",
            "52c3ee5d26adffbe"
        ],
        "x": 1195,
        "y": 1700,
        "wires": []
    },
    {
        "id": "a8095950c784cec6",
        "type": "inject",
        "z": "7419e6f670b0c2f6",
        "name": "Archive now",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "archiveNow",
        "payloadType": "date",
        "x": 130,
        "y": 840,
        "wires": [
            [
                "7f0a00602991e721"
            ]
        ]
    },
    {
        "id": "7f0a00602991e721",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Single Archive Pulse",
        "func": "var device = flow.get('device');\ndevice.archiveNow = 1;\nreturn {topic:'archivePulse', payload:true};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set('lastArchive', new Date().getTime());",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 840,
        "wires": [
            [
                "2728624acd3a5537"
            ]
        ]
    },
    {
        "id": "2b730378156b040d",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Check ArchiveNow",
        "func": "var device = flow.get(\"device\");\nvar resetArchiveNowMsg = null;\nif (device.archiveNow > 0) resetArchiveNowMsg = {topic:\"resetArchiveNow\", payload:true};\nreturn [msg,resetArchiveNowMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 180,
        "wires": [
            [
                "5eec44615361be25"
            ],
            [
                "86342bd64d4aed59"
            ]
        ]
    },
    {
        "id": "86342bd64d4aed59",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1490,
        "y": 240,
        "wires": [
            [
                "34c3e2a42c09ea88"
            ]
        ]
    },
    {
        "id": "34c3e2a42c09ea88",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Reset ArchiveNow",
        "func": "flow.get(\"device\").archiveNow = 0;\n",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 240,
        "wires": []
    },
    {
        "id": "dbab599e598d3f01",
        "type": "mqtt in",
        "z": "7419e6f670b0c2f6",
        "name": "Subscribe DeviceA",
        "topic": "$(MQTTDEVICEA)",
        "qos": "0",
        "datatype": "auto",
        "broker": "79250bf3.365cc4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "80e5dcb40b864249"
            ]
        ]
    },
    {
        "id": "5eec44615361be25",
        "type": "mqtt out",
        "z": "7419e6f670b0c2f6",
        "name": "Publish Readings",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "79250bf3.365cc4",
        "x": 1510,
        "y": 140,
        "wires": []
    },
    {
        "id": "74c6d394f2452a62",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 760,
        "wires": [
            [
                "9ecac5e72feeaa9c"
            ]
        ]
    },
    {
        "id": "f0c1e263384a520f",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Start Init Cube",
        "mode": "link",
        "links": [
            "2150949730b4ba06"
        ],
        "x": 835,
        "y": 700,
        "wires": []
    },
    {
        "id": "5aebb0b38ba2e191",
        "type": "link in",
        "z": "7419e6f670b0c2f6",
        "name": "read device config in",
        "links": [
            "961b85c2472cee35"
        ],
        "x": 355,
        "y": 100,
        "wires": [
            [
                "c7d1bc1a67fe9dc2"
            ]
        ]
    },
    {
        "id": "961b85c2472cee35",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "begin re-init cube",
        "mode": "link",
        "links": [
            "5aebb0b38ba2e191"
        ],
        "x": 1195,
        "y": 760,
        "wires": []
    },
    {
        "id": "9ecac5e72feeaa9c",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Set input filename",
        "func": "var deviceProps = flow.get('deviceProps');\nreturn {topic: 'readFile', 'filename':deviceProps.configFile};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 760,
        "wires": [
            [
                "961b85c2472cee35"
            ]
        ]
    },
    {
        "id": "71ae80a656c00e15",
        "type": "inject",
        "z": "7419e6f670b0c2f6",
        "name": "read Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "15",
        "topic": "readTable",
        "payloadType": "date",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "e7e361e5afc232d7"
            ]
        ]
    },
    {
        "id": "e7e361e5afc232d7",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Read Modbus",
        "func": "if (flow.get('device').settingInProgress == 1) return null;\nvar modeBusCommand = { 'fc': 0x3, 'unitid': 1, 'address': 0 , 'quantity': 11 } ;\nreturn {topic: \"readStatus\", payload:modeBusCommand};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "f126a9c492d622d3",
        "type": "tcp request",
        "z": "7419e6f670b0c2f6",
        "server": "$(NWAIP)",
        "port": "$(NWAPORT)",
        "out": "char",
        "ret": "buffer",
        "splitc": "\\n",
        "name": "NWA",
        "x": 830,
        "y": 1280,
        "wires": [
            [
                "8866f14a97b19cc4"
            ]
        ]
    },
    {
        "id": "a32e79efa68414e9",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "CALC1:MARK1:X?",
        "func": "msg.topic = \"markerFreq\"\nmsg.payload = \"CALC1:MARK1:X?\\n\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1280,
        "wires": [
            [
                "f126a9c492d622d3"
            ]
        ]
    },
    {
        "id": "8866f14a97b19cc4",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Parse Data",
        "func": "var device = flow.get('device');\ndevice[msg.topic].value = Number(msg.payload.toString());\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1280,
        "wires": []
    },
    {
        "id": "fd93fa3b95f3b346",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "FREQ:CENT?",
        "func": "msg.topic = \"centerFreq\"\nmsg.payload = \"FREQ:CENT?\\n\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1320,
        "wires": [
            [
                "f126a9c492d622d3",
                "a7cb4e3ee86fe6c8"
            ]
        ]
    },
    {
        "id": "cb41dfd09d2249df",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 1320,
        "wires": [
            [
                "fd93fa3b95f3b346"
            ]
        ]
    },
    {
        "id": "ab3f7fefc4b64ebd",
        "type": "mqtt in",
        "z": "7419e6f670b0c2f6",
        "name": "Stepper Readings",
        "topic": "$(STEPPER)",
        "qos": "0",
        "datatype": "auto",
        "broker": "79250bf3.365cc4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 1440,
        "wires": [
            [
                "1f120421a285026e"
            ]
        ]
    },
    {
        "id": "1f120421a285026e",
        "type": "json",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 1440,
        "wires": [
            [
                "108509ff25075341"
            ]
        ]
    },
    {
        "id": "108509ff25075341",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Filter MQTT",
        "func": "return {topic:msg.topic.split('/')[3], payload:msg.payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 1440,
        "wires": [
            [
                "4e3d5dee310c0b43"
            ]
        ]
    },
    {
        "id": "4e3d5dee310c0b43",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Save stepper",
        "func": "flow.set('stepper',msg.payload);\nvar stepperProps = flow.get('stepperProps');\nvar device = \n{\n    project     : stepperProps.project,\n    deviceType  : stepperProps.deviceType,\n    name        : stepperProps.name,\n    prop        : 'reading',\n};\nreturn {topic : msg.topic, payload:{topic:'readings', mqttDevice : device, payload:JSON.stringify(msg.payload)}};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1440,
        "wires": [
            [
                "37f29422ea8d6801"
            ]
        ]
    },
    {
        "id": "a6f8dc5f376617e6",
        "type": "mqtt out",
        "z": "7419e6f670b0c2f6",
        "name": "Publish Stepper Command",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "79250bf3.365cc4",
        "x": 1340,
        "y": 1440,
        "wires": []
    },
    {
        "id": "e906052a64178ea3",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Parse Stepper Command",
        "func": "var stepperProps = flow.get('stepperProps');\nvar newMsg = \n{\n    topic: stepperProps.project + '/' + stepperProps.deviceType + '/' + stepperProps.name + '/setting/' + msg.topic,\n    payload: JSON.stringify(msg.payload)\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1440,
        "wires": [
            [
                "a6f8dc5f376617e6"
            ]
        ]
    },
    {
        "id": "645d1b1b2fe0de5e",
        "type": "inject",
        "z": "7419e6f670b0c2f6",
        "name": "Get status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "getStatus",
        "payload": "true",
        "payloadType": "bool",
        "x": 140,
        "y": 1200,
        "wires": [
            [
                "8db2a5c93a1e1304"
            ]
        ]
    },
    {
        "id": "581c8429d5fbe0fd",
        "type": "inject",
        "z": "7419e6f670b0c2f6",
        "name": "STEPPER",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "stepperProps",
        "payload": "STEPPER",
        "payloadType": "env",
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "95815bba5da68215"
            ]
        ]
    },
    {
        "id": "95815bba5da68215",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Init flow Variables",
        "func": "var mqttSplit = msg.payload.split('/');\nvar stepperProps = {\n    project     :   mqttSplit[0],\n    deviceType  :   mqttSplit[1],\n    name        :   mqttSplit[2]\n};\nflow.set('stepperProps',stepperProps);\n",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1100,
        "wires": []
    },
    {
        "id": "d1faf0727b9fe690",
        "type": "link in",
        "z": "7419e6f670b0c2f6",
        "name": "Stepper Command in",
        "links": [
            "d016d34c401f0f1b",
            "2d12d213648d4c21",
            "e749a6b872d3e7b3",
            "cc44e67b6334d5d0",
            "43c147daf212bebf",
            "2147ec5c8bc364ad",
            "940cb8ddcf1ec577"
        ],
        "x": 935,
        "y": 1440,
        "wires": [
            [
                "e906052a64178ea3"
            ]
        ]
    },
    {
        "id": "cb723eef4eb12e91",
        "type": "link in",
        "z": "7419e6f670b0c2f6",
        "name": "Get Status in",
        "links": [
            "8db2a5c93a1e1304",
            "78dc1ef55e87344f"
        ],
        "x": 95,
        "y": 1300,
        "wires": [
            [
                "f744f6fb5398d1ca"
            ]
        ]
    },
    {
        "id": "8db2a5c93a1e1304",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "mode": "link",
        "links": [
            "cb723eef4eb12e91"
        ],
        "x": 235,
        "y": 1200,
        "wires": []
    },
    {
        "id": "c885844e7352e16d",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Publish status",
        "func": "return {topic:'status',payload:true};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1320,
        "wires": [
            [
                "761d94ca7c02287b"
            ]
        ]
    },
    {
        "id": "a7cb4e3ee86fe6c8",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 1320,
        "wires": [
            [
                "c885844e7352e16d"
            ]
        ]
    },
    {
        "id": "761d94ca7c02287b",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Get Status Out",
        "mode": "link",
        "links": [
            "2150949730b4ba06"
        ],
        "x": 1115,
        "y": 1320,
        "wires": []
    },
    {
        "id": "f744f6fb5398d1ca",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Check for scan in progress",
        "func": "if (flow.get('device').scan.value != 0) return null;\nif (flow.get('device').settingInProgress > 0) return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1300,
        "wires": [
            [
                "cb41dfd09d2249df",
                "a32e79efa68414e9"
            ]
        ]
    },
    {
        "id": "37f29422ea8d6801",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Stepper readings out",
        "mode": "link",
        "links": [
            "d033193d.436d68"
        ],
        "x": 695,
        "y": 1440,
        "wires": []
    },
    {
        "id": "206e7ac1ca299eb6",
        "type": "switch",
        "z": "7419e6f670b0c2f6",
        "name": "Setting Attr Switch",
        "property": "payload.attr",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "markerFreq",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "noScanPts",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "scan",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "homeBead",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "scanName",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 210,
        "y": 1680,
        "wires": [
            [
                "8c109e4c5d045c9f",
                "a73db6fbb75501bd"
            ],
            [
                "014df999fe9aa32a"
            ],
            [
                "824e5ca94e25e597"
            ],
            [
                "68ac0acb1b27c444"
            ],
            [
                "014df999fe9aa32a"
            ]
        ]
    },
    {
        "id": "eab465e18d030930",
        "type": "link in",
        "z": "7419e6f670b0c2f6",
        "name": "nonModbusSettingSwitch",
        "links": [
            "8ab264450a444a5c"
        ],
        "x": 75,
        "y": 1680,
        "wires": [
            [
                "206e7ac1ca299eb6"
            ]
        ]
    },
    {
        "id": "8ab264450a444a5c",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "nonModBus Setting out",
        "mode": "link",
        "links": [
            "eab465e18d030930"
        ],
        "x": 315,
        "y": 380,
        "wires": []
    },
    {
        "id": "25838bdf06b7d935",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "CALC1:MARK1:x",
        "func": "msg.topic = msg.payload.attr\nmsg.payload = \"CALC1:MARK1:X \" + msg.payload.value.toString() + \"\\n\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1600,
        "wires": [
            [
                "9ca5958d24194b75",
                "04d5a1f0b58d6aac"
            ]
        ]
    },
    {
        "id": "04d5a1f0b58d6aac",
        "type": "tcp out",
        "z": "7419e6f670b0c2f6",
        "host": "$(NWAIP)",
        "port": "$(NWAPORT)",
        "beserver": "client",
        "base64": false,
        "end": true,
        "name": "NWA Set",
        "x": 780,
        "y": 1600,
        "wires": []
    },
    {
        "id": "2979a5e397af8737",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "CALC1:MARK1:X?",
        "func": "msg.payload = \"CALC1:MARK1:X?\\n\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1540,
        "wires": [
            [
                "39bd692ca28c5ee0"
            ]
        ]
    },
    {
        "id": "39bd692ca28c5ee0",
        "type": "tcp request",
        "z": "7419e6f670b0c2f6",
        "server": "$(NWAIP)",
        "port": "$(NWAPORT)",
        "out": "char",
        "ret": "buffer",
        "splitc": "\\n",
        "name": "NWA",
        "x": 1250,
        "y": 1540,
        "wires": [
            [
                "fdc1bc82c2c03db6"
            ]
        ]
    },
    {
        "id": "9ca5958d24194b75",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 780,
        "y": 1540,
        "wires": [
            [
                "2979a5e397af8737",
                "876a5634b943cef9"
            ]
        ]
    },
    {
        "id": "fdc1bc82c2c03db6",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Parse Data",
        "func": "var device = flow.get('device');\ndevice.settingInProgress = 0;\ndevice[msg.topic].value = Number(msg.payload.toString());\nreturn {topic:'settingComplete', payload:true};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 1540,
        "wires": [
            [
                "8287f2bf4cdd395b"
            ]
        ]
    },
    {
        "id": "014df999fe9aa32a",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Set device Setting value",
        "func": "var device = flow.get('device');\ndevice.settingInProgress = 0;\ndevice[msg.payload.attr].value = msg.payload.value;\nreturn {topic:'settingComplete', payload:true};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1700,
        "wires": [
            [
                "8287f2bf4cdd395b"
            ]
        ]
    },
    {
        "id": "3b38ea092f7e33f1",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Init Stepper for Scan",
        "func": "flow.get('device').scan.value = 1;\nvar pullData = [];\nflow.set('pullData',pullData);\nvar stepperProps = flow.get('stepperProps');\nvar stepperMsgs = []\nstepperMsgs[0] = {'attr': 'stayAwakeAfterRotation', 'value':1}\nstepperMsgs[1] = {'attr': 'stepForward', 'value':0}\nstepperMsgs[2] = {'attr': 'resolution', 'value':0}\nreturn [msg, {topic : 'setting', payload: stepperMsgs}];\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1880,
        "wires": [
            [
                "f3bc543b5f4ee347",
                "f8b072282c47a5f0"
            ],
            [
                "2134d3a9102ee7b8"
            ]
        ]
    },
    {
        "id": "2134d3a9102ee7b8",
        "type": "split",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 250,
        "y": 1940,
        "wires": [
            [
                "e45b9b5f96ba6d73"
            ]
        ]
    },
    {
        "id": "e45b9b5f96ba6d73",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 1940,
        "wires": [
            [
                "2d12d213648d4c21"
            ]
        ]
    },
    {
        "id": "2d12d213648d4c21",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Init Stepper for Scan out",
        "mode": "link",
        "links": [
            "d1faf0727b9fe690"
        ],
        "x": 515,
        "y": 1940,
        "wires": []
    },
    {
        "id": "d4b30df4db5d49d5",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Move Motor",
        "func": "var newMsg = {topic : 'setting', payload: {'attr': 'moveMotor', 'value':1}}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1880,
        "wires": [
            [
                "d31debe5db2eb0ad",
                "e749a6b872d3e7b3"
            ]
        ]
    },
    {
        "id": "d31debe5db2eb0ad",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 840,
        "y": 1880,
        "wires": [
            [
                "67590a653bd1e1ce"
            ]
        ]
    },
    {
        "id": "67590a653bd1e1ce",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "ping Stepper",
        "func": "var newMsg = {topic : 'ping', payload: true}\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1880,
        "wires": [
            [
                "80832f44d11bbad6",
                "cc44e67b6334d5d0"
            ]
        ]
    },
    {
        "id": "3cd5b7708ff789e8",
        "type": "tcp request",
        "z": "7419e6f670b0c2f6",
        "server": "$(NWAIP)",
        "port": "$(NWAPORT)",
        "out": "char",
        "ret": "buffer",
        "splitc": "\\n",
        "name": "NWA",
        "x": 1750,
        "y": 1880,
        "wires": [
            [
                "e9d7901717246036"
            ]
        ]
    },
    {
        "id": "4e21f8659645855b",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Start Sweep",
        "func": "msg.payload = \"INIT:IMM:ALL\\n*WAI\\nCALC1:MARK1:Y?\\n\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 1880,
        "wires": [
            [
                "3cd5b7708ff789e8"
            ]
        ]
    },
    {
        "id": "e9d7901717246036",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "PullData",
        "func": "var device = flow.get('device');\nvar stepper = flow.get('stepper');\nvar nwaData = msg.payload.toString().split(',');\nvar pullData = \n{\n    mag   : Number(nwaData[0]),\n    phase : Number(nwaData[1]),\n    beadPos  : -flow.get('stepper').stepLocation.value,\n}\nvar scanInLimit = device.noScanPts.value * stepper.noStepsToTurn.value;\nvar scanOutLimit = 0;\nvar allowScan = true;\nif (device.scan.value == -1)\n{\n    allowScan = false;\n    device.scan.value = 0;\n    device.settingInProgress = 0;\n}\nif (!allowScan ||(pullData.beadPos >= scanInLimit) || (pullData.beadPos < flow.get('scanOutLimit')) )\n{\n    device.scan.value = 0;\n    device.settingInProgress = 0;\n    var stopScanMsg = {topic: 'setting', payload: {'attr': 'stayAwakeAfterRotation', 'value':0}};\n    return [null,stopScanMsg,{topic : 'pullData', payload : pullData}];\n}\nreturn [{topic : 'pullData', payload : pullData}, null,null];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 1880,
        "wires": [
            [
                "0dfb5a672810fe13"
            ],
            [
                "43c147daf212bebf"
            ],
            [
                "2fcde4c43deefbba"
            ]
        ]
    },
    {
        "id": "ea4ae6a16ae9d3f5",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Pull Move Done",
        "mode": "link",
        "links": [
            "2150949730b4ba06",
            "52c3ee5d26adffbe"
        ],
        "x": 2215,
        "y": 1900,
        "wires": []
    },
    {
        "id": "43c147daf212bebf",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Stop Scan out",
        "mode": "link",
        "links": [
            "d1faf0727b9fe690"
        ],
        "x": 2015,
        "y": 1880,
        "wires": []
    },
    {
        "id": "e749a6b872d3e7b3",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Move Motor Out",
        "mode": "link",
        "links": [
            "d1faf0727b9fe690"
        ],
        "x": 775,
        "y": 1940,
        "wires": []
    },
    {
        "id": "cc44e67b6334d5d0",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Ping Setpper out",
        "mode": "link",
        "links": [
            "d1faf0727b9fe690"
        ],
        "x": 1095,
        "y": 1940,
        "wires": []
    },
    {
        "id": "80832f44d11bbad6",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1160,
        "y": 1880,
        "wires": [
            [
                "b1d2ea74b63306bc"
            ]
        ]
    },
    {
        "id": "b1d2ea74b63306bc",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Check Stepper Location",
        "func": "if (flow.get('stepper').moveMotor.value == 1)\n{\n    return [null,{topic:\"ping\",payload:true}];\n}\nelse\n{\n    return [{topic:\"motorMoved\",payload:true},null];\n}\n\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 1880,
        "wires": [
            [
                "4e21f8659645855b"
            ],
            [
                "c77e3f82b4bceb42"
            ]
        ]
    },
    {
        "id": "c77e3f82b4bceb42",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Check Stepper Location out to Ping",
        "mode": "link",
        "links": [
            "496d99b505832580"
        ],
        "x": 1515,
        "y": 1940,
        "wires": []
    },
    {
        "id": "f3bc543b5f4ee347",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 520,
        "y": 1880,
        "wires": [
            [
                "d4b30df4db5d49d5"
            ]
        ]
    },
    {
        "id": "824e5ca94e25e597",
        "type": "switch",
        "z": "7419e6f670b0c2f6",
        "name": "scan switch",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "-1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1740,
        "wires": [
            [
                "cc349e68bfb30a7f"
            ],
            [
                "3b38ea092f7e33f1"
            ]
        ]
    },
    {
        "id": "cc349e68bfb30a7f",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Set Abort Scan flag",
        "func": "flow.get('device').scan.value = -1;\n",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1740,
        "wires": []
    },
    {
        "id": "496d99b505832580",
        "type": "link in",
        "z": "7419e6f670b0c2f6",
        "name": "Ping Stepper in",
        "links": [
            "c77e3f82b4bceb42"
        ],
        "x": 895,
        "y": 1840,
        "wires": [
            [
                "67590a653bd1e1ce"
            ]
        ]
    },
    {
        "id": "9b8ad20289b3caaa",
        "type": "link in",
        "z": "7419e6f670b0c2f6",
        "name": "Move Motor In",
        "links": [
            "62c3829a5c30cc2d"
        ],
        "x": 575,
        "y": 1840,
        "wires": [
            [
                "d4b30df4db5d49d5"
            ]
        ]
    },
    {
        "id": "0dfb5a672810fe13",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Save pull data",
        "func": "var pullData = flow.get('pullData');\npullData.push(msg.payload);\nreturn {topic:\"scanInProgress\",payload:true};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2050,
        "y": 1840,
        "wires": [
            [
                "62c3829a5c30cc2d"
            ]
        ]
    },
    {
        "id": "62c3829a5c30cc2d",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Save Pull data out",
        "mode": "link",
        "links": [
            "2150949730b4ba06",
            "9b8ad20289b3caaa"
        ],
        "x": 2175,
        "y": 1840,
        "wires": []
    },
    {
        "id": "f2dd6600413a040c",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Start Scan out",
        "mode": "link",
        "links": [
            "2150949730b4ba06"
        ],
        "x": 795,
        "y": 1780,
        "wires": []
    },
    {
        "id": "2fcde4c43deefbba",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Add last Scan point",
        "func": "var pullData = flow.get('pullData');\npullData.push(msg.payload);\nvar device = flow.get('device');\nvar dbEntry = \n{\n    'name' : device.scanName.value,\n}\nreturn [{topic:\"scanComplete\",payload:true},{topic:'scanData', payload:dbEntry}];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2070,
        "y": 1920,
        "wires": [
            [
                "ea4ae6a16ae9d3f5"
            ],
            [
                "bec3c8980621f3a5"
            ]
        ]
    },
    {
        "id": "f8b072282c47a5f0",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Start Scan Msg",
        "func": "return {topic:\"scanInProgress\",payload:true};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1780,
        "wires": [
            [
                "f2dd6600413a040c"
            ]
        ]
    },
    {
        "id": "12290bb2bc28e9ca",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Home Bead",
        "func": "var device = flow.get('device');\nif (msg.payload.value != 1)\n{\n    device.homeBead.value = 0;\n    device.settingInProgress = 0;\n    return [null,null,{topic:\"settingComplete\",payload:true}];\n}\ndevice.homeBead.value = 1;\ndevice.settingInProgress = 1;\nvar stepper = flow.get('stepper');\nflow.set('oldNoStepsToTurn',stepper.noStepsToTurn.value);\nvar stepLocation = stepper.stepLocation.value;\nvar stepForward = 1;\nif (stepLocation > 0) stepForward = 0;\nnoStepsToTurn = stepLocation;\nif (noStepsToTurn < 0) noStepsToTurn = -noStepsToTurn;\nvar stepperMsgs = []\nstepperMsgs[0] = {'attr': 'stepForward',   'value':stepForward}\nstepperMsgs[1] = {'attr': 'noStepsToTurn', 'value':noStepsToTurn}\nstepperMsgs[2] = {'attr': 'moveMotor', 'value':1};\nreturn [msg, {topic : 'setting', payload: stepperMsgs},{topic:\"settingInProgress\",payload:true}];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 2180,
        "wires": [
            [
                "654c95510c07f46b"
            ],
            [
                "b6314654b1e9f759"
            ],
            [
                "3956daee839b899a"
            ]
        ]
    },
    {
        "id": "b6314654b1e9f759",
        "type": "split",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 350,
        "y": 2180,
        "wires": [
            [
                "672bb5cd5fc1e24b"
            ]
        ]
    },
    {
        "id": "672bb5cd5fc1e24b",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 490,
        "y": 2180,
        "wires": [
            [
                "2147ec5c8bc364ad"
            ]
        ]
    },
    {
        "id": "2147ec5c8bc364ad",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Home Bead Out",
        "mode": "link",
        "links": [
            "d1faf0727b9fe690"
        ],
        "x": 595,
        "y": 2180,
        "wires": []
    },
    {
        "id": "654c95510c07f46b",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 2120,
        "wires": [
            [
                "d759ef165e18047b"
            ]
        ]
    },
    {
        "id": "d759ef165e18047b",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "ping Stepper",
        "func": "var newMsg = {topic : 'ping', payload: true}\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 2120,
        "wires": [
            [
                "71cae57009264e2b"
            ]
        ]
    },
    {
        "id": "71cae57009264e2b",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 700,
        "y": 2120,
        "wires": [
            [
                "050397522312ac58"
            ]
        ]
    },
    {
        "id": "050397522312ac58",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Check Stepper Location",
        "func": "if (flow.get('stepper').moveMotor.value == 1)\n{\n    return [null,{topic:\"ping\",payload:true}];\n}\nelse\n{\n    return [{topic:'setting', payload:{'attr': 'noStepsToTurn', 'value':flow.get('oldNoStepsToTurn')}},null];\n}\n\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 2120,
        "wires": [
            [
                "940cb8ddcf1ec577",
                "4010b0698d0f981f"
            ],
            [
                "74c7434e5056933d"
            ]
        ]
    },
    {
        "id": "5be722754a2fd50a",
        "type": "link in",
        "z": "7419e6f670b0c2f6",
        "name": "Home Bead Ping Stepper in",
        "links": [
            "74c7434e5056933d"
        ],
        "x": 475,
        "y": 2060,
        "wires": [
            [
                "d759ef165e18047b"
            ]
        ]
    },
    {
        "id": "74c7434e5056933d",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Home Bead Check Stepper Location out to Ping",
        "mode": "link",
        "links": [
            "5be722754a2fd50a"
        ],
        "x": 1035,
        "y": 2160,
        "wires": []
    },
    {
        "id": "940cb8ddcf1ec577",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Home Bead Check Stepper Location out publish",
        "mode": "link",
        "links": [
            "d1faf0727b9fe690"
        ],
        "x": 1035,
        "y": 2080,
        "wires": []
    },
    {
        "id": "68ac0acb1b27c444",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Home Bead switch out",
        "mode": "link",
        "links": [
            "9d642f374d9095e5"
        ],
        "x": 235,
        "y": 1760,
        "wires": []
    },
    {
        "id": "9d642f374d9095e5",
        "type": "link in",
        "z": "7419e6f670b0c2f6",
        "name": "Home Bead In",
        "links": [
            "68ac0acb1b27c444"
        ],
        "x": 95,
        "y": 2180,
        "wires": [
            [
                "12290bb2bc28e9ca"
            ]
        ]
    },
    {
        "id": "3956daee839b899a",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "HomeBead Bad Setting",
        "mode": "link",
        "links": [
            "2150949730b4ba06"
        ],
        "x": 315,
        "y": 2220,
        "wires": []
    },
    {
        "id": "4010b0698d0f981f",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "HomeBead Complete",
        "func": "var device = flow.get('device');\ndevice.homeBead.value = 0;\ndevice.settingInProgress = 0;\nreturn {topic:\"settingComplete\",payload:true};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 2120,
        "wires": [
            [
                "57e5757ed3278d69"
            ]
        ]
    },
    {
        "id": "57e5757ed3278d69",
        "type": "link out",
        "z": "7419e6f670b0c2f6",
        "name": "Home Bead Complete",
        "mode": "link",
        "links": [
            "2150949730b4ba06"
        ],
        "x": 1325,
        "y": 2120,
        "wires": []
    },
    {
        "id": "821a3b5ab3575cc1",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "Save pull data",
        "func": "var pullData = flow.get('pullData');\nvar device = flow.get('device');\nvar dbEntry = \n{\n    'name' : device.scanName.value,\n    'freq'  :device.markerFreq.value,\n    'scanData' : pullData\n}\nreturn {topic:'scanData', payload:dbEntry};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2340,
        "y": 2000,
        "wires": [
            [
                "1c01c1ca29462747"
            ]
        ]
    },
    {
        "id": "1c01c1ca29462747",
        "type": "mongodb3 in",
        "z": "7419e6f670b0c2f6",
        "service": "_ext_",
        "configNode": "8654aaccd19c29eb",
        "name": "write scan",
        "collection": "blinky-beadpull",
        "operation": "insertOne",
        "x": 2500,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "bec3c8980621f3a5",
        "type": "mongodb3 in",
        "z": "7419e6f670b0c2f6",
        "service": "_ext_",
        "configNode": "8654aaccd19c29eb",
        "name": "Remove old files of same name",
        "collection": "blinky-beadpull",
        "operation": "removeMany",
        "x": 2110,
        "y": 2000,
        "wires": [
            [
                "821a3b5ab3575cc1"
            ]
        ]
    },
    {
        "id": "8c109e4c5d045c9f",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 1600,
        "wires": [
            [
                "25838bdf06b7d935"
            ]
        ]
    },
    {
        "id": "a73db6fbb75501bd",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "FREQ:CENT",
        "func": "msg.topic = \"centerFreq\"\nmsg.payload = \"FREQ:CENT \" + msg.payload.value.toString() + \"\\n\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1640,
        "wires": [
            [
                "04d5a1f0b58d6aac"
            ]
        ]
    },
    {
        "id": "876a5634b943cef9",
        "type": "delay",
        "z": "7419e6f670b0c2f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 940,
        "y": 1600,
        "wires": [
            [
                "501a5ce9f4321021"
            ]
        ]
    },
    {
        "id": "501a5ce9f4321021",
        "type": "function",
        "z": "7419e6f670b0c2f6",
        "name": "FREQ:CENT?",
        "func": "msg.topic = \"centerFreq\"\nmsg.payload = \"FREQ:CENT?\\n\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1600,
        "wires": [
            [
                "39bd692ca28c5ee0"
            ]
        ]
    },
    {
        "id": "68f91193.6031a",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "Set Title",
        "field": "payload.title",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "Blinky Bead Pull {{{payload.script.name}}}",
        "output": "str",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "493fb622.d8afc8"
            ]
        ]
    },
    {
        "id": "6ff41f15.de1a2",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "navBarIcon",
        "field": "payload.navBarIcon",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "beadYellow.png",
        "output": "str",
        "x": 310,
        "y": 420,
        "wires": [
            [
                "68f91193.6031a"
            ]
        ]
    },
    {
        "id": "cf44f6bf.8956b8",
        "type": "websocket in",
        "z": "152d879257fe666c",
        "name": "/blinky-beadpull/websocket",
        "server": "44b51478.9c022c",
        "client": "",
        "x": 170,
        "y": 840,
        "wires": [
            [
                "16c60d1b8ba8d827"
            ]
        ]
    },
    {
        "id": "62aaa250.9b67dc",
        "type": "websocket out",
        "z": "152d879257fe666c",
        "name": "/blinky-beadpull/websocket",
        "server": "44b51478.9c022c",
        "client": "",
        "x": 1300,
        "y": 840,
        "wires": []
    },
    {
        "id": "ea909034.6fb25",
        "type": "link out",
        "z": "152d879257fe666c",
        "name": "Web socket out",
        "links": [
            "2f289f87.fe2ff",
            "c7f3b5bf.85c9a8",
            "916409fc.7bc138",
            "080e8b7be1b3f16a"
        ],
        "x": 615,
        "y": 800,
        "wires": []
    },
    {
        "id": "d033193d.436d68",
        "type": "link in",
        "z": "152d879257fe666c",
        "name": "Web socket in",
        "links": [
            "1cdcbcd8.9514e3",
            "78ceea9e.d0b204",
            "d0d46d90.cf476",
            "9c19993afce72c6e",
            "37f29422ea8d6801"
        ],
        "x": 1115,
        "y": 840,
        "wires": [
            [
                "62aaa250.9b67dc"
            ]
        ]
    },
    {
        "id": "1482e22f.57fa2e",
        "type": "http in",
        "z": "152d879257fe666c",
        "name": "/blinky-beadpull",
        "url": "/blinky-beadpull",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "71ce0943.81bf18"
            ]
        ]
    },
    {
        "id": "71ce0943.81bf18",
        "type": "function",
        "z": "152d879257fe666c",
        "name": "Set Name And Device Type",
        "func": "msg.payload['beadpull'] = {};\nmsg.payload['beadpull']['name'] = msg.payload.name\nmsg.payload['beadpull']['deviceType'] = flow.get('beadpullDeviceProps').deviceType;\nmsg.payload['beadpull']['project'] = flow.get('beadpullDeviceProps').project;\nmsg.payload['stepper'] = {};\nmsg.payload['stepper']['name'] = flow.get('stepperDeviceProps').name;\nmsg.payload['stepper']['deviceType'] = flow.get('stepperDeviceProps').deviceType;\nmsg.payload['stepper']['project'] = flow.get('stepperDeviceProps').project;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 380,
        "wires": [
            [
                "6ff41f15.de1a2"
            ]
        ]
    },
    {
        "id": "70be1872.dfaf48",
        "type": "http in",
        "z": "152d879257fe666c",
        "name": "/apps",
        "url": "/apps",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "af9642ae.0c0da"
            ]
        ]
    },
    {
        "id": "b1885d32.8d9cc",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "Body",
        "field": "payload.body",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!-- Body HTML -->\n    <div class='container' width=\"100%\">\n        <div class='row vert-pad' >\n            <div class='col-md-12'>\n                <a class=\"btn jumbotron-button btn-block big-text bold-text\" width='80%' href=\"/blinky-beadpull?name={{{payload.beadpullDeviceName}}}\" >\n                    <table width=\"100%\" alight=\"left\">\n                        <tr>\n                            <td width=\"30%\" align='center'> <img src=\"/img/beadYellow.png\" height=\"70px\"/></td>\n                            <td width=\"70%\" align=\"left\">Blinky Bead Pull {{{payload.beadpullDeviceName}}}</td>\n                        </tr>\n                    </table>\n                </a>\n            </div>\n        </div>\n    </div>",
        "output": "str",
        "x": 850,
        "y": 260,
        "wires": [
            [
                "c1ea8a4a6c9d59df"
            ]
        ]
    },
    {
        "id": "18e277b4.8fc208",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "Title",
        "field": "payload.title",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "Blinky Bead Pull",
        "output": "str",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "fd81c62c.98f018"
            ]
        ]
    },
    {
        "id": "f328fcb4.91dc",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "JavaScript",
        "field": "payload.javascript",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "        useWebSockets(false);\n        function onDocumentReady()\n        {\n        }\n        function onWebSocketOpen()\n        {\n        }\n        function onWebSocketClose()\n        {\n            \n        }\n        function onWebSocketMessage(msg)\n        {\n        }\n\n",
        "output": "str",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "18e277b4.8fc208"
            ]
        ]
    },
    {
        "id": "fd81c62c.98f018",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "navBarIcon",
        "field": "payload.navBarIcon",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "beadYellow.png",
        "output": "str",
        "x": 710,
        "y": 260,
        "wires": [
            [
                "b1885d32.8d9cc"
            ]
        ]
    },
    {
        "id": "f14573da.0a788",
        "type": "inject",
        "z": "152d879257fe666c",
        "name": "project",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "project",
        "payload": "PROJECT",
        "payloadType": "env",
        "x": 540,
        "y": 60,
        "wires": [
            [
                "938904a0.58d668"
            ]
        ]
    },
    {
        "id": "938904a0.58d668",
        "type": "function",
        "z": "152d879257fe666c",
        "name": "Save global env variables",
        "func": "global.set(msg.topic,msg.payload);\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 730,
        "y": 60,
        "wires": []
    },
    {
        "id": "c634a8d3.297848",
        "type": "http in",
        "z": "152d879257fe666c",
        "name": "/",
        "url": "/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "ca68de71.c19fe"
            ]
        ]
    },
    {
        "id": "65a7590b.59a2a8",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "Body",
        "field": "payload.body",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!-- Body HTML -->\n",
        "output": "str",
        "x": 850,
        "y": 200,
        "wires": [
            [
                "442b832cdc12d085"
            ]
        ]
    },
    {
        "id": "9709fa69.9daac8",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "Title",
        "field": "payload.title",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "Blinky Bead Pull",
        "output": "str",
        "x": 570,
        "y": 200,
        "wires": [
            [
                "a36869fc.6f5e58"
            ]
        ]
    },
    {
        "id": "ca68de71.c19fe",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "JavaScript",
        "field": "payload.javascript",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "        useWebSockets(false);\n        function onDocumentReady()\n        {\n            window.location = '/apps'\n        }\n        function onWebSocketOpen()\n        {\n        }\n        function onWebSocketClose()\n        {\n            \n        }\n        function onWebSocketMessage(msg)\n        {\n        }\n\n",
        "output": "str",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "9709fa69.9daac8"
            ]
        ]
    },
    {
        "id": "a36869fc.6f5e58",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "navBarIcon",
        "field": "payload.navBarIcon",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "beadYellow.png",
        "output": "str",
        "x": 710,
        "y": 200,
        "wires": [
            [
                "65a7590b.59a2a8"
            ]
        ]
    },
    {
        "id": "c87aa87d.aef928",
        "type": "inject",
        "z": "152d879257fe666c",
        "name": "beadpullDevice",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "beadpullDevice",
        "payload": "MQTTDEVICEA",
        "payloadType": "env",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "fdfbcac7.35b388"
            ]
        ]
    },
    {
        "id": "fdfbcac7.35b388",
        "type": "function",
        "z": "152d879257fe666c",
        "name": "Init device name",
        "func": "var mqttSplit = msg.payload.split('/');\nvar deviceProps = {\n    project     :   mqttSplit[0],\n    deviceType  :   mqttSplit[1],\n    name        :   mqttSplit[2],\n};\nflow.set(msg.topic + 'Props',deviceProps);\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 60,
        "wires": []
    },
    {
        "id": "af9642ae.0c0da",
        "type": "function",
        "z": "152d879257fe666c",
        "name": "Device Names",
        "func": "msg.payload['beadpullDeviceName'] = flow.get('beadpullDeviceProps').name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 260,
        "wires": [
            [
                "f328fcb4.91dc"
            ]
        ]
    },
    {
        "id": "442b832cdc12d085",
        "type": "subflow:8341090a.df9758",
        "z": "152d879257fe666c",
        "name": "",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "c1ea8a4a6c9d59df",
        "type": "subflow:8341090a.df9758",
        "z": "152d879257fe666c",
        "name": "",
        "x": 1010,
        "y": 260,
        "wires": []
    },
    {
        "id": "ba79496e.4e42b8",
        "type": "exec",
        "z": "152d879257fe666c",
        "command": "iwconfig",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1120,
        "y": 60,
        "wires": [
            [
                "25a2b2c8.26f4ce"
            ],
            [],
            []
        ]
    },
    {
        "id": "fc7d9351.a3d0a",
        "type": "inject",
        "z": "152d879257fe666c",
        "name": "",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 960,
        "y": 60,
        "wires": [
            [
                "ba79496e.4e42b8"
            ]
        ]
    },
    {
        "id": "25a2b2c8.26f4ce",
        "type": "function",
        "z": "152d879257fe666c",
        "name": "Get Signal Quality",
        "func": "var info = msg.payload;\nvar linkStartIndex  = info.indexOf('Link Quality=');\nvar levelStartIndex = info.indexOf('Signal level=');\nvar linkQuality = Number(info.substring(linkStartIndex + 13, linkStartIndex + 15));\nvar signalLevel =  Number(info.substring(levelStartIndex + 13, levelStartIndex + 16));\nvar ssid = info.substring(info.indexOf('ESSID') + 7);\nssid = ssid.substring(0,ssid.indexOf('\"'));\nvar val = {linkQuality : linkQuality, signalLevel: signalLevel, ssid:ssid};\nglobal.set('linkQuality',linkQuality);\nglobal.set('signalLevel', signalLevel);\nglobal.set('ssid', ssid);\nreturn {topic :'test',payload : val};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1300,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "493fb622.d8afc8",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "script.global",
        "field": "payload.script.global",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "// Global Javascript\n        useWebSockets(true);\n        var archiveRequestList = [];\n        var archiveList = [];\n        var archiveList = [];\n        var stepperPingInterval = 5000;\n        var lastStepperPing = 0;\n        var allowStepperPing = true;\n        \n        var beadpullDeviceConfig = \n        {\n            deviceType  : '{{{payload.beadpull.deviceType}}}',\n            name        : '{{{payload.beadpull.name}}}',\n            project     : '{{{payload.beadpull.project}}}'\n        };\n        var stepperDeviceConfig = \n        {\n            deviceType  : '{{{payload.stepper.deviceType}}}',\n            name        : '{{{payload.stepper.name}}}',\n            project     : '{{{payload.stepper.project}}}'\n        };\n\n        function onDocumentReady()\n        {\n            setRemoteApp(false);\n            if (remoteApp)\n            {\n                getCreds();\n                setInterval(function(){getCreds();}, 1000);\n            }\n            else\n            {\n                $('#userCardId').hide();\n            }\n            $('#archiveCardId').hide();\n            $('#noStepsToTurnButtonId').hide();\n            $('#stepDelayuSButtonId').hide();\n            $('#delayAfterRotationmSButtonId').hide();\n            $('#noScanPtsButtonId').hide();\n            $('#markerFreqButtonId').hide();\n            $('#scanNameButtonId').hide();\n\n            disableBeadPullSettings(true);\n            disableStepperSettings(true);\n            $('#scanButton').prop('disabled',true);\n            $('#homeBeadButton').prop('disabled',true);\n\n        }\n        function onWebSocketOpen()\n        {\n            if (remoteApp) getArchive(24);\n            var actionMsg = \n                {\n                    topic   : beadpullDeviceConfig.project + '/' +  beadpullDeviceConfig.deviceType + '/' +  beadpullDeviceConfig.name + '/setting/ping',\n                    payload : true\n                };\n            sendActionMsg('ping', 'ping', actionMsg);\n            setInterval(function()\n            {\n                var now = new Date().getTime();\n                if (((now - lastStepperPing) > stepperPingInterval) && allowStepperPing)\n                {\n                    lastStepperPing = now;\n                    var actionMsg = \n                        {\n                            topic   : stepperDeviceConfig.project + '/' +  stepperDeviceConfig.deviceType + '/' +  stepperDeviceConfig.name + '/setting/ping',\n                            payload : true\n                        };\n                    sendActionMsg('ping', 'ping', actionMsg);\n               }\n            }, 1000);\n        }\n        function onWebSocketClose()\n        {\n            \n        }\n        function onWebSocketMessage(msg)\n        {\n            switch(msg.topic)\n            {\n                case 'readings':\n                    if ((msg.mqttDevice.name == beadpullDeviceConfig.name) && (msg.mqttDevice.deviceType == beadpullDeviceConfig.deviceType)  && (msg.mqttDevice.project == beadpullDeviceConfig.project) )\n                    {\n                        heartbeat();\n                        updateBeadpullReadings(JSON.parse(msg.payload));\n                    }\n                    if ((msg.mqttDevice.name == stepperDeviceConfig.name) && (msg.mqttDevice.deviceType == stepperDeviceConfig.deviceType)  && (msg.mqttDevice.project == stepperDeviceConfig.project) )\n                    {\n                        lastStepperPing = new Date().getTime();\n                        heartbeat();\n                        updateStepperReadings(JSON.parse(msg.payload));\n                    }\n                    break;\n                case 'readDatabase':\n                    if (msg.userID == userID)\n                    {\n                        putArchiveValues(msg.payload);\n                    }\n                    break;\n                case 'renew':\n                    if (msg.userID == userID)\n                    {\n                        updateCookie(msg);\n                    }\n                    break;\n                case 'permissionError':\n                    if (msg.userID == userID)\n                    {\n                        acknowledgeDialog('Permission', 'Error', msg.payload);\n                    }\n                    break;\n                case 'loginExpired':\n                    if (msg.userID == userID)\n                    {\n                       location.reload();\n                    }\n                    break;\n                default:\n                    break;\n            }\n        }\n        function sendSetting(deviceConfig, payload)\n        {\n            var actionMsg = \n                {\n                    topic   : deviceConfig.project + '/' +  deviceConfig.deviceType + '/' +  deviceConfig.name + '/setting/setting',\n                    payload : payload\n                };\n            sendActionMsg('setting','setting',actionMsg);\n        }\n        function reset(deviceConfig, actionFlag)\n        {\n            var headerText = 'Warning';\n            var title = 'Resetting Tray';\n            var text = 'I hope you know what you are doing.';\n            var buttonTexts = ['Reset', 'Cancel'];\n            var buttonFunctions = \n            [\n                function()\n                {\n                    $( this ).dialog( \"close\" );\n                    var actionMsg = \n                        {\n                            topic   : deviceConfig.project + '/' +  deviceConfig.deviceType + '/' +  deviceConfig.name + '/setting/reset',\n                            payload : actionFlag\n                        };\n                    sendActionMsg('reset','setting',actionMsg);\n                 }, \n                function()\n                {\n                    $( this ).dialog( \"close\" );\n                }\n            ];\n            if (actionFlag == 2)\n            {\n                title = 'Rebooting Tray';\n                buttonTexts[0] = 'Reboot';\n            }\n            optionDialog(headerText, title, text, buttonTexts, buttonFunctions);\n            \n        }\n",
        "output": "str",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "e29616e2.2e2988"
            ]
        ]
    },
    {
        "id": "9c813756.6c5c38",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "javascript",
        "field": "payload.javascript",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "{{{payload.script.global}}}\n{{{payload.script.updateReadings}}}\n{{{payload.script.timePlot}}}\n{{{payload.script.archive}}}\n{{{payload.script.user}}}\n",
        "output": "str",
        "x": 640,
        "y": 580,
        "wires": [
            [
                "f6ab8485.5f47e8"
            ]
        ]
    },
    {
        "id": "864cffa0.3724b",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "body",
        "field": "payload.body",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "    <div width=\"100%\">\n{{{payload.html.dashboard}}}\n{{{payload.html.timePlot}}}\n{{{payload.html.archive}}}\n        <div class='row' style='padding-bottom: 25px;'>\n            <div class='col-md-12'>\n{{{payload.html.user}}}\n            </div>\n        </div>\n        <div class='row' style='padding-bottom: 25px;'>\n            <div class='col-md-12'>\n{{{payload.html.wifimon}}}\n            </div>\n        </div>\n        <div class='row' style='padding-bottom: 25px;'>\n            <div class='col-md-12'>\n{{{payload.html.reset}}}\n            </div>\n        </div>\n    </div>",
        "output": "str",
        "x": 950,
        "y": 620,
        "wires": [
            [
                "9caafb0f1f33ec3d"
            ]
        ]
    },
    {
        "id": "cefdafa8.91d69",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "html.wifimon",
        "field": "payload.html.wifimon",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!-- Dashboard HTML -->\n                <div class='card'>\n                    <p class='card-title'>WiFi Connection</p>\n                    <div class='card-body' align=\"center\">\n                        <div class='row'  style='padding-top: 0px;'>\n                            <table width='100%'>\n                                <tr>\n                                    <td width='60%' >\n                                        <span class='card-text' >Device Update</span>\n                                    </td>\n                                    <td width='20%' align='center'></td>\n                                    <td width='20%' align='center'>\n                                        <img src='/img/heartRed.png' id='heartBeatID' width='100px' height='100px'/>\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td width='60%' >\n                                        <span class='card-text' >Signal Level (dBm)</span>\n                                    </td>\n                                    <td width='20%' align='center'></td>\n                                    <td width='20%' align='center'>\n                                        <span class='card-text' id='signalLevelId' >-100</span>\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td width='60%' >\n                                        <span class='card-text' >Link Quality (/70)</span>\n                                    </td>\n                                    <td width='20%' align='center'></td>\n                                    <td width='20%' align='center'>\n                                        <span class='card-text' id='linkQualityId' >-1</span>\n                                    </td>\n                                </tr>\n                            </table>\n                        </div>\n                    </div>\n                </div>\n",
        "output": "str",
        "x": 970,
        "y": 540,
        "wires": [
            [
                "3fb4b4a8.ec76fc"
            ]
        ]
    },
    {
        "id": "7974c464.11ebac",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "html.archive",
        "field": "payload.html.archive",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!-- Archive HTML -->\n        <div class='row' style='padding-bottom: 25px;'>\n            <div class='col-md-12' align='center'>\n                <div class='card' id=archiveCardId>\n                    <p class='card-title'>Archive</p>\n                    <div class='card-body' align=\"center\">\n                        <div class='row' >\n                            <table width='100%'>\n                                <tr>\n                                    <td width='10%' align='center'>\n                                        <button class='btn btn-block big-text' style='background-color:var(--color1);color:var(--color5)' id=\"archive2hrButton\" onclick=\"getArchive(2)\" >2</button>\n                                    </td>\n                                    <td width='10%'  align='center'>\n                                        <button class='btn btn-block big-text' style='background-color:var(--color1);color:var(--color5)' id=\"archive4hrButton\" onclick=\"getArchive(4)\" >4</button>\n                                    </td>\n                                    <td width='10%'  align='center'>\n                                        <button class='btn btn-block big-text' style='background-color:var(--color1);color:var(--color5)' id=\"archive8hrButton\" onclick=\"getArchive(8)\" >8</button>\n                                    </td>\n                                    <td width='10%'  align='center'>\n                                        <button class='btn btn-block big-text' style='background-color:var(--color1);color:var(--color5)' id=\"archive24hrButton\" onclick=\"getArchive(24)\" >24</button>\n                                    </td>\n                                    <td width='10%' align='center'>\n                                        <button class='btn btn-block big-text' style='background-color:var(--color1);color:var(--color5)' id=\"archive72hrButton\" onclick=\"getArchive(72)\" >72</button>\n                                    </td>\n                                    <td width='10%' align='center'>\n                                        <button class='btn btn-block big-text' style='background-color:var(--color1);color:var(--color5)' id=\"archive168hrButton\" onclick=\"getArchive(168)\" >168</button>\n                                    </td>\n                                    <td width='10%' align='center'>\n                                        <span class='big-text' >Hours</span>\n                                    </td>\n                                </tr>\n                            </table>\n                        </div>\n                        <div class='row vert-pad'>\n                            <div class='col-md-12'>\n                                <div id=\"archiveChart\" width=\"100%\" ></div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n",
        "output": "str",
        "x": 970,
        "y": 460,
        "wires": [
            [
                "4f8cafa.a57065"
            ]
        ]
    },
    {
        "id": "4f8cafa.a57065",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "html.user",
        "field": "payload.html.user",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "                <div class='card' id='userCardId'>\n                    <div class='card-body' align=\"center\">\n                        <table width=\"100%\">\n                            <tr>\n                                <td  align=\"left\">\n                                     <span class='card-text' style='color:black;'>User:</span>\n                                </td>\n                                <td  align=\"right\">\n                                     <span class='card-text' id='usernameId'></span>\n                                </td>\n                            </tr>\n                            <tr>\n                                <td  align=\"left\">\n                                    <span class='card-text' style='color:black;'>Time left:</span>\n                                </td>\n                                <td  align=\"right\">\n                                     <span class='card-text' id='expTimeId'></span>\n                                </td>\n                            </tr>\n                        </table>\n                        <table width=\"100%\">\n                            <tr>\n                                <td width=\"40%\">\n                                    <button class='btn btn-block card-button big-text' id='logoutButton' onclick=\"renew()\" >Renew</button>\n                                </td>\n                                <td width=\"10%\"></td>\n                                <td width=\"40%\">\n                                    <button class='btn btn-block card-button big-text' id='logoutButton' onclick=\"logout()\" >Logout</button>\n                                </td>\n                            </tr>\n                        </table>\n                    </div>\n                </div>\n",
        "output": "str",
        "x": 960,
        "y": 500,
        "wires": [
            [
                "cefdafa8.91d69"
            ]
        ]
    },
    {
        "id": "6f5a5e46.8a941",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "script.user",
        "field": "payload.script.user",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "        function getCreds()\n        {\n            var now = new Date().getTime();\n            var expDate = Number(getCookie('ExpDate'));\n            if (expDate > 0)\n            {\n                expDate = expDate - now;\n                if(expDate < 0)\n                {\n                    logout();\n                }\n                else\n                {\n                    var hours = Math.floor(expDate / 3600000);\n                    var minutes = expDate - hours * 3600000;\n                    minutes = Math.floor(minutes / 60000);\n                    var seconds = expDate - (hours * 3600000) - (minutes * 60000);\n                    seconds = Math.floor(seconds / 1000);\n                    hours = hours.toString();\n                    if (hours.length == 1) hours = '0' + hours; \n                    minutes = minutes.toString();\n                    if (minutes.length == 1) minutes = '0' + minutes; \n                    seconds = seconds.toString();\n                    if (seconds.length == 1) seconds = '0' + seconds; \n                    var timeString = hours + ':' + minutes + ':' + seconds;\n                    $('#usernameId').text(getCookie('Username'));\n                    $('#expTimeId').text(timeString);\n                }\n            }\n            else\n            {\n                $('#usernameId').text(getCookie('Username'));\n                $('#expTimeId').text('Forever');\n            }\n        }\n        function logout()\n        {\n            document.cookie = project + \"Role= ; expires = Thu, 01 Jan 1970 00:00:00 GMT\";\n            document.cookie = project + \"ExpDate= ; expires = Thu, 01 Jan 1970 00:00:00 GMT\";\n            document.cookie = project + \"Username= ; expires = Thu, 01 Jan 1970 00:00:00 GMT\";\n            window.location.href = \"/\";\n        }\n        function renew()\n        {\n            var actionMsg = {};\n            sendActionMsg('renew', 'renew', actionMsg);\n        }\n        function updateCookie(msg)\n        {\n            document.cookie = project + \"Role=\" + msg.role;\n            document.cookie = project + \"ExpDate=\" + msg.expDate;\n            document.cookie = project + \"Username=\" + msg.username;\n        }\n        function downloadToken()\n        {\n            downloadString(getCookie(\"Role\"), \"text/plain\", project + \"-token.txt\");\n        }\n// from https://gist.github.com/danallison/3ec9d5314788b337b682\n        function downloadString(text, fileType, fileName) \n        {\n            var blob = new Blob([text], { type: fileType });\n            \n            var a = document.createElement('a');\n            a.download = fileName;\n            a.href = URL.createObjectURL(blob);\n            a.dataset.downloadurl = [fileType, a.download, a.href].join(':');\n            a.style.display = \"none\";\n            document.body.appendChild(a);\n            a.click();\n            document.body.removeChild(a);\n            setTimeout(function() { URL.revokeObjectURL(a.href); }, 1500);\n        }",
        "output": "str",
        "x": 650,
        "y": 540,
        "wires": [
            [
                "9c813756.6c5c38"
            ]
        ]
    },
    {
        "id": "3fb4b4a8.ec76fc",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "html.reset",
        "field": "payload.html.reset",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "                <div class='card' id='reset'>\n                    <div class='card-body' align=\"center\">\n                         <table width=\"100%\">\n                            <tr>\n                                <td width=\"40%\">\n                                    <button class='btn btn-block card-button big-text' id='resetButton' onclick=\"reset(beadpullDeviceConfig, 1)\" >Reset</button>\n                                </td>\n                                <td width=\"10%\"></td>\n                                <td width=\"40%\">\n                                    <button class='btn btn-block card-button big-text' id='rebootButton'onclick=\"reset(beadpullDeviceConfig, 2)\" >Reboot</button>\n                                </td>\n                            </tr>\n                        </table>\n                    </div>\n                </div>\n",
        "output": "str",
        "x": 960,
        "y": 580,
        "wires": [
            [
                "864cffa0.3724b"
            ]
        ]
    },
    {
        "id": "f6ab8485.5f47e8",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "html.dashboard",
        "field": "payload.html.dashboard",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!-- Dashboard HTML -->\n        <div class='row' style='padding-top:20px;padding-bottom:20px;'>\n            <div class='col-md-12' align='center'>\n                <table  width='100%'>\n                   <tr>\n                        <td width='20%' align='left'> </td>\n                        <td width='60%' align='center'>\n                            <button class='btn btn-block card-button big-text' id=\"scanButton\" scanAttr=\"10\" onclick=\"scan()\" >Start Scan</button>\n                        </td>\n                        <td width='20%' align='left'> </td>\n                    </tr>\n                   <tr>\n                        <td width='20%' align='left'> </td>\n                        <td width='60%' align='center' style='padding-top:20px;'>\n                            <button class='btn btn-block card-button big-text' id=\"homeBeadButton\" homeBeadAttr=\"10\" onclick=\"homeBead()\" >Home Bead</button>\n                        </td>\n                        <td width='20%' align='left'> </td>\n                    </tr>\n                </table>\n            </div>\n        </div>\n        <div class='row' style='padding-bottom: 25px;'>\n            <div class='col-md-12' align='center'>\n                <div class='card'>\n                    <p class='card-title'>Controls</p>\n                    <div class='card-body' align=\"center\">\n                        <div class='row' style='padding-bottom: 25px;'>\n                            <div class=\"container-fluid \" align=\"center\" style='padding-top: 0px;'>\n                                <div class='row' style='padding-bottom: 15px;'>\n                                    <div class=\"container-fluid \" align=\"center\">\n                                        <table  width='100%'>\n                                            <tr>\n                                                <td width='60%'>\n                                                    <span class='card-text' >Bead location</span>\n                                                </td>\n                                                <td width='20%'>\n                                                    <span class='card-text' id=\"stepLocationId\" >0</span>\n                                                </td>\n                                                <td width='20%'>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </div>\n                                </div>\n                                <div class='row' style='padding-bottom: 15px;'>\n                                    <div class=\"container-fluid \" align=\"center\">\n                                        <table  width='100%'>\n                                            <tr>\n                                                <td width='60%'>\n                                                    <span class='card-text' >Scan Name</span>\n                                                </td>\n                                                <td width='20%'>\n                                                    <input id=\"scanNameInputId\" type=\"text\" value=\"0\" class=\"big-text\"  size=\"10\" oninput=\"scanNameChange()\"/>\n                                                </td>\n                                                <td width='20%'>\n                                                    <button class='btn btn-block card-button big-text' id=\"scanNameButtonId\" onclick=\"scanName()\" >&#10003;</button>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </div>\n                                </div>\n                                <div class='row' style='padding-bottom: 15px;'>\n                                    <div class=\"container-fluid \" align=\"center\">\n                                        <table  width='100%'>\n                                            <tr>\n                                                <td width='60%'>\n                                                    <span class='card-text' >No. of points / scan</span>\n                                                </td>\n                                                <td width='20%'>\n                                                    <input id=\"noScanPtsInputId\" type=\"text\" value=\"0\" class=\"big-text\"  size=\"10\" oninput=\"noScanPtsChange()\"/>\n                                                </td>\n                                                <td width='20%'>\n                                                    <button class='btn btn-block card-button big-text' id=\"noScanPtsButtonId\" onclick=\"noScanPts()\" >&#10003;</button>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </div>\n                                </div>\n                                <div class='row' style='padding-bottom: 15px;'>\n                                    <div class=\"container-fluid \" align=\"center\">\n                                        <table  width='100%'>\n                                            <tr>\n                                                <td width='60%'>\n                                                    <span class='card-text' >Marker Freq (Hz)</span>\n                                                </td>\n                                                <td width='20%'>\n                                                    <input id=\"markerFreqInputId\" type=\"text\" value=\"0\" class=\"big-text\"  size=\"10\" oninput=\"markerFreqChange()\"/>\n                                                </td>\n                                                <td width='20%'>\n                                                    <button class='btn btn-block card-button big-text' id=\"markerFreqButtonId\" onclick=\"markerFreq()\" >&#10003;</button>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </div>\n                                </div>\n                                <div class='row' style='padding-bottom: 15px;'>\n                                    <div class=\"container-fluid \" align=\"center\">\n                                        <table  width='100%'>\n                                            <tr>\n                                                <td width='60%'>\n                                                    <span class='card-text' >No. of steps / pt.</span>\n                                                </td>\n                                                <td width='20%'>\n                                                    <input id=\"noStepsToTurnInputId\" type=\"text\" value=\"0\" class=\"big-text\"  size=\"10\" oninput=\"noStepsToTurnChange()\"/>\n                                                </td>\n                                                <td width='20%'>\n                                                    <button class='btn btn-block card-button big-text' id=\"noStepsToTurnButtonId\" onclick=\"noStepsToTurn()\" >&#10003;</button>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </div>\n                                </div>\n                                <div class='row' style='padding-bottom: 15px;'>\n                                    <div class=\"container-fluid \" align=\"center\">\n                                        <table  width='100%'>\n                                            <tr>\n                                                <td width='60%'>\n                                                    <span class='card-text' >Step Delay (uS)</span>\n                                                </td>\n                                                <td width='20%'>\n                                                    <input id=\"stepDelayuSInputId\" type=\"text\" value=\"0\" class=\"big-text\"  size=\"10\" oninput=\"stepDelayuSChange()\"/>\n                                                </td>\n                                                <td width='20%'>\n                                                    <button class='btn btn-block card-button big-text' id=\"stepDelayuSButtonId\" onclick=\"stepDelayuS()\" >&#10003;</button>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </div>\n                                </div>\n                                <div class='row' style='padding-bottom: 15px;'>\n                                    <div class=\"container-fluid \" align=\"center\">\n                                        <table  width='100%'>\n                                            <tr>\n                                                <td width='60%'>\n                                                    <span class='card-text' >Delay After Rotation (mS)</span>\n                                                </td>\n                                                <td width='20%'>\n                                                    <input id=\"delayAfterRotationmSInputId\" type=\"text\" value=\"0\" class=\"big-text\"  size=\"10\" oninput=\"delayAfterRotationmSChange()\"/>\n                                                </td>\n                                                <td width='20%'>\n                                                    <button class='btn btn-block card-button big-text' id=\"delayAfterRotationmSButtonId\" onclick=\"delayAfterRotationmS()\" >&#10003;</button>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </div>\n                                </div>\n                                <div class='row' style='padding-bottom: 15px;'>\n                                    <div class=\"container-fluid \" align=\"center\">\n                                        <table  width='100%'>\n                                            <tr>\n                                                <td width='60%'>\n                                                    <span class='card-text' >Reset Steps</span>\n                                                </td>\n                                                <td width='20%'>\n                                                    <select class=\"custom-select big-text\"  id=\"resetStepReadingInputId\" onchange=\"resetStepReading()\" >\n                                                        <option value=\"0\">No</option>\n                                                        <option value=\"1\">Reset</option>\n                                                    </select>\n                                                </td>\n                                                <td width='20%'>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </div>\n                                </div>\n                                <div class='row' style='padding-bottom: 15px;'>\n                                    <div class=\"container-fluid \" align=\"center\">\n                                        <table  width='100%'>\n                                            <tr>\n                                                <td width='60%'>\n                                                    <span class='card-text' >NWA Center Frequency(Hz)</span>\n                                                </td>\n                                                <td width='20%'>\n                                                    <span class='card-text' id=\"centerFreqId\" >0</span>\n                                                </td>\n                                                <td width='20%'>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </div>\n                                </div>\n                            </div>\n                        </div>\n                   </div>\n                </div>\n            </div>\n        </div>\n",
        "output": "str",
        "x": 980,
        "y": 380,
        "wires": [
            [
                "64b8974a8d469849"
            ]
        ]
    },
    {
        "id": "e29616e2.2e2988",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "script.updateReadings",
        "field": "payload.script.updateReadings",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "// Update Readings Javascript\n        var noStepsToTurnChanged = false;\n        var stepDelayuSChanged = false;\n        var delayAfterRotationmSChanged = false;\n        var noScanPtsChanged = false;\n        var markerFreqChanged = false;\n        var scanNameChanged = false;\n        function updateBeadpullReadings(device)\n        {\n            if (!noScanPtsChanged) $('#noScanPtsInputId').val(device.noScanPts.value);\n            if (!markerFreqChanged) $('#markerFreqInputId').val(device.markerFreq.value);\n            if (!scanNameChanged) $('#scanNameInputId').val(device.scanName.value);\n            $('#centerFreqId').text(device.centerFreq.value);\n            $('#scanButton').attr('scanAttr',device.scan.value.toString());\n            $('#homeBeadButton').attr('homeBeadAttr',device.homeBead.value.toString());\n            switch(device.scan.value)\n            {\n                case -1:\n                    $('#scanButton').text(\"Abort in Progress\");\n                    disableBeadPullSettings(true);\n                    disableStepperSettings(true);\n                    $('#scanButton').prop('disabled',true);\n                    $('#homeBeadButton').prop('disabled',true);\n                    allowStepperPing = false;\n                    break;\n                case  0:\n                    allowStepperPing = true;\n                    if (device.homeBead.value == 0)\n                    {\n                        $('#scanButton').text(\"Start Scan\");\n                        $('#scanButton').prop('disabled',false);\n                        $('#homeBeadButton').prop('disabled',false);\n                        disableBeadPullSettings(false);\n                        disableStepperSettings(false);\n                   }\n                    else\n                    {\n                        $('#scanButton').text(\"Start Scan\");\n                        $('#scanButton').prop('disabled',true);\n                        $('#homeBeadButton').prop('disabled',true);\n                        disableBeadPullSettings(true);\n                        disableStepperSettings(true);\n                    }\n                    break;\n                case  1:\n                    allowStepperPing = false;\n                    $('#scanButton').text(\"Abort Scan\");\n                    $('#scanButton').prop('disabled',false);\n                    $('#homeBeadButton').prop('disabled',true);\n                    disableBeadPullSettings(true);\n                    disableStepperSettings(true);\n                    break;\n                default:\n                    break;\n            }\n\n        }\n        function updateStepperReadings(device)\n        {\n            var scanVal = Number($('#scanButton').attr('scanAttr'));\n            var homeBeadVal = Number($('#homeBeadButton').attr('homeBeadAttr'));\n            if ((scanVal == 0) && (homeBeadVal == 0))\n            {\n                if (device.settingInProgress == 0)\n                {\n                    disableStepperSettings(false);\n                }\n                else\n                {\n                    disableStepperSettings(true);\n                }\n            }\n            else\n            {\n                disableStepperSettings(true);\n            }\n            $('#linkQualityId').text(device.linkQuality.value);\n            $('#signalLevelId').text(device.signalLevel.value);\n            if (!noStepsToTurnChanged) $('#noStepsToTurnInputId').val(device.noStepsToTurn.value);\n            if (!stepDelayuSChanged)   $('#stepDelayuSInputId').val(device.stepDelayuS.value);\n            if (!delayAfterRotationmSChanged)   $('#delayAfterRotationmSInputId').val(device.delayAfterRotationmS.value);\n\n            $('#resolutionInputId').val(device.resolution.value);\n            $('#stayAwakeAfterRotationInputId').val(device.stayAwakeAfterRotation.value);\n            $('#stepForwardInputId').val(device.stepForward.value);\n            $('#resetStepReadingInputId').val(device.resetStepReading.value);\n\n            $('#stepLocationId').text(device.stepLocation.value);\n            addTracePointsToTimePlot([device.stepLocation.value]);\n\n        }\n        function disableStepperSettings(disable)\n        {\n            $('#noStepsToTurnInputId').attr('disabled',disable);\n            $('#stepDelayuSInputId').attr('disabled',disable);\n            $('#delayAfterRotationmSInputId').attr('disabled',disable);\n            $('#resetStepReadingInputId').attr('disabled',disable);\n            \n        }\n        function disableBeadPullSettings(disable)\n        {\n            $('#noScanPtsInputId').attr('disabled',disable);\n            $('#markerFreqInputId').attr('disabled',disable);\n            $('#scanNameInputId').attr('disabled',disable);\n\n        }\n        function noStepsToTurnChange()\n        {\n            noStepsToTurnChanged = true;\n            $('#noStepsToTurnButtonId').show();\n        }\n        function stepDelayuSChange()\n        {\n            stepDelayuSChanged = true;\n            $('#stepDelayuSButtonId').show();\n        }\n        function delayAfterRotationmSChange()\n        {\n            delayAfterRotationmSChanged = true;\n            $('#delayAfterRotationmSButtonId').show();\n        }\n\n        function noScanPtsChange()\n        {\n            noScanPtsChanged = true;\n            $('#noScanPtsButtonId').show();\n        }\n        function markerFreqChange()\n        {\n            markerFreqChanged = true;\n            $('#markerFreqButtonId').show();\n        }\n        function scanNameChange()\n        {\n            scanNameChanged = true;\n            $('#scanNameButtonId').show();\n        }\n\n        function noStepsToTurn()\n        {\n            $('#noStepsToTurnButtonId').hide();\n            if (isNaN($('#noStepsToTurnInputId').val()))\n            {\n                noStepsToTurnChanged = false;\n                return;\n            }\n            var payload = {'attr': 'noStepsToTurn', 'value':Number($('#noStepsToTurnInputId').val())};\n            sendSetting(stepperDeviceConfig, payload);\n            noStepsToTurnChanged = false;\n        }\n        function stepDelayuS()\n        {\n            $('#stepDelayuSButtonId').hide();\n            if (isNaN($('#stepDelayuSInputId').val()))\n            {\n                stepDelayuSChanged = false;\n                return;\n            }\n            var payload = {'attr': 'stepDelayuS', 'value':Number($('#stepDelayuSInputId').val())};\n            sendSetting(stepperDeviceConfig,payload);\n            stepDelayuSChanged = false;\n        }\n        function delayAfterRotationmS()\n        {\n            $('#delayAfterRotationmSButtonId').hide();\n            if (isNaN($('#delayAfterRotationmSInputId').val()))\n            {\n                delayAfterRotationmSChanged = false;\n                return;\n            }\n            var payload = {'attr': 'delayAfterRotationmS', 'value':Number($('#delayAfterRotationmSInputId').val())};\n            sendSetting(stepperDeviceConfig,payload);\n            delayAfterRotationmSChanged = false;\n        }\n        function resetStepReading()\n        {\n            if (isNaN($('#resetStepReadingInputId').val()))\n            {\n                 return;\n            }\n            var payload = {'attr': 'resetStepReading', 'value':Number($('#resetStepReadingInputId').val())};\n            sendSetting(stepperDeviceConfig,payload);\n        }\n        function noScanPts()\n        {\n            $('#noScanPtsButtonId').hide();\n            if (isNaN($('#noScanPtsInputId').val()))\n            {\n                noScanPtsChanged = false;\n                return;\n            }\n            var payload = {'attr': 'noScanPts', 'value':Number($('#noScanPtsInputId').val())};\n            sendSetting(beadpullDeviceConfig, payload);\n            noScanPtsChanged = false;\n        }\n        function markerFreq()\n        {\n            $('#markerFreqButtonId').hide();\n            if (isNaN($('#markerFreqInputId').val()))\n            {\n                markerFreqChanged = false;\n                return;\n            }\n            var payload = {'attr': 'markerFreq', 'value':Number($('#markerFreqInputId').val())};\n            sendSetting(beadpullDeviceConfig, payload);\n            markerFreqChanged = false;\n        }\n        function scanName()\n        {\n            $('#scanNameButtonId').hide();\n            var payload = {'attr': 'scanName', 'value':$('#scanNameInputId').val()};\n            sendSetting(beadpullDeviceConfig, payload);\n            scanNameChanged = false;\n        }\n        function scan()\n        {\n           var scanVal = Number($('#scanButton').attr('scanAttr'));\n           switch(scanVal)\n           {\n                case  0:\n                    $('#scanButton').text(\"Abort Scan\");\n                    $('#scanButton').prop('disabled',false);\n                    $('#homeBeadButton').prop('disabled',true);\n                    scanVal = 1;\n                    allowStepperPing = false;\n                    break;\n                case  1:\n                    scanVal = -1;\n                    $('#scanButton').text(\"Abort in Progress\");\n                    $('#scanButton').prop('disabled',true);\n                    $('#homeBeadButton').prop('disabled',true);\n                    allowStepperPing = false;\n                    break;\n                default:\n                    break;\n            }\n            $('#scanButton').attr('scanAttr',scanVal.toString());\n            var payload = {'attr': 'scan', 'value':scanVal};\n            sendSetting(beadpullDeviceConfig, payload);\n        }\n        function homeBead()\n        {\n            $('#scanButton').prop('disabled',true);\n            $('#homeBeadButton').prop('disabled',true);\n            var payload = {'attr': 'homeBead', 'value':1};\n            sendSetting(beadpullDeviceConfig, payload);\n            $('#homeBeadButton').attr('homeBeadAttr',\"1\");\n        }\n",
        "output": "str",
        "x": 680,
        "y": 420,
        "wires": [
            [
                "ea72affbdba78c7b"
            ]
        ]
    },
    {
        "id": "8a2cca551d64f879",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "script.archive",
        "field": "payload.script.archive",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "// Archive JavaScript\n        function getArchive(hours)\n        { \n            $('#archiveCardId').show();\n\n//            if (hours > 2) messageDialog('Info', 'Wait', 'Getting Archive Data');\n            $('#archive2hrButton').attr(\"disabled\", true); \n            $('#archive4hrButton').attr(\"disabled\", true); \n            $('#archive8hrButton').attr(\"disabled\", true); \n            $('#archive24hrButton').attr(\"disabled\", true); \n            $('#archive72hrButton').attr(\"disabled\", true); \n            $('#archive168hrButton').attr(\"disabled\", true); \n            $('#archive2hrButton').css('color', 'var(--color5)'); \n            $('#archive2hrButton').css('background-color', 'var(--color1)'); \n            $('#archive4hrButton').css('color', 'var(--color5)'); \n            $('#archive4hrButton').css('background-color', 'var(--color1)'); \n            $('#archive8hrButton').css('color', 'var(--color5)'); \n            $('#archive8hrButton').css('background-color', 'var(--color1)'); \n            $('#archive24hrButton').css('color', 'var(--color5)'); \n            $('#archive24hrButton').css('background-color', 'var(--color1)'); \n            $('#archive72hrButton').css('color', 'var(--color5)'); \n            $('#archive72hrButton').css('background-color', 'var(--color1)'); \n            $('#archive168hrButton').css('color', 'var(--color5)'); \n            $('#archive168hrButton').css('background-color', 'var(--color1)'); \n            switch(hours)\n            {\n                case 2:\n                    $('#archive2hrButton').css('color', 'var(--color1)'); \n                    $('#archive2hrButton').css('background-color', 'var(--color5)'); \n                    break;\n                case 4:\n                    $('#archive4hrButton').css('color', 'var(--color1)'); \n                    $('#archive4hrButton').css('background-color', 'var(--color5)'); \n                    break;\n                case 8:\n                    $('#archive8hrButton').css('color', 'var(--color1)'); \n                    $('#archive8hrButton').css('background-color', 'var(--color5)'); \n                    break;\n                case 24:\n                    $('#archive24hrButton').css('color', 'var(--color1)'); \n                    $('#archive24hrButton').css('background-color', 'var(--color5)'); \n                    break;\n                case 72:\n                    $('#archive72hrButton').css('color', 'var(--color1)'); \n                    $('#archive72hrButton').css('background-color', 'var(--color5)'); \n                    break;\n                case 168:\n                    $('#archive168hrButton').css('color', 'var(--color1)'); \n                    $('#archive168hrButton').css('background-color', 'var(--color5)'); \n                    break;\n                default:\n                // code block\n            }\n\n            archiveRequestList = [];\n            archiveList = [];\n            var stopDate = new Date().getTime();\n            var startDate = stopDate - hours * 3600000;\n            archiveRequestList[0] = \n            {\n                deviceType : stepperDeviceConfig.deviceType,\n                name : stepperDeviceConfig.name, \n                attr : ['stepLocation'],\n                startDate: startDate, \n                stopDate: stopDate,\n            };\n            getArchiveValues();\n\n        }\n        function getArchiveValues()\n        {\n            var actionMsg = \n                {\n                    device      : archiveRequestList[0]\n                };\n            sendActionMsg('readDatabase','readDatabase', actionMsg);\n            archiveRequestList.shift();\n            return;\n        }\n        function putArchiveValues(data)\n        {\n            archiveList.push(data);\n            if (archiveRequestList.length > 0)\n            {\n                getArchiveValues();\n            }\n            else\n            {\n                plotArchive();\n            }\n        }\n\n        function plotArchive()\n        {\n//            $( \"#messageDialog\" ).dialog( \"close\" );\n            var layout =\n            {\n                showlegend  : true,\n                legend      : { x: 0, y: 1.15},\n                height      : '500',\n                width       : '',\n                xaxis       :\n                {\n//                    title: 'Hours since ' + new Date(archiveList[0].device.stopDate).toLocaleString(),\n                    type: 'date'\n                },\n            yaxis:\n            {\n                title           : 'Position (Steps)',\n                titlefont       : {color: '#557a95'},\n                tickfont        : {color: '#557a95'},\n                gridcolor       : '#beceda',\n                zerolinecolor   : '#beceda',\n                linecolor       : '#beceda'\n//                rangemode       : 'tozero'\n            },\n/*\n            yaxis2:\n            {\n                title           : 'Steps to turn',\n                titlefont       : {color: '#f2a31f'},\n                tickfont        : {color: '#f2a31f'},\n                gridcolor       : '#f2a31f',\n                zerolinecolor   : '#f2a31f',\n                linecolor       : '#f2a31f',\n                overlaying: 'y',\n                side: 'right'\n                range: [0, 100]\n            },\n*/\n                margin: \n                    {\n                        t: 30, //top margin\n    //                    l: 0, //left margin\n    //                    r: 0, //right margin\n    //                    b: 20 //bottom margin\n                    },\n            };\n            var trace1 = \n            {\n                x: [],\n                y: [],\n                name: 'Position',\n                yaxis: 'y1',\n                type: 'scatter',\n                mode: 'lines',\n                line: {color: 'blue'}\n        \n            };\n            for (var ii = 0; ii < archiveList[0].trace.length; ++ii)\n            {\n//                var x = (archiveList[0].trace[ii].timeStamp - archiveList[0].device.stopDate) / 3600000.0;\n                var x = archiveList[0].trace[ii].timeStamp;\n                trace1.x[ii] = x;\n                trace1.y[ii] = archiveList[0].trace[ii][archiveList[0].device.attr[0]] ;\n             }\n\n\n            Plotly.newPlot('archiveChart', [trace1], layout);\n            $('#archive2hrButton').attr(\"disabled\", false); \n            $('#archive4hrButton').attr(\"disabled\", false); \n            $('#archive8hrButton').attr(\"disabled\", false); \n            $('#archive24hrButton').attr(\"disabled\", false); \n            $('#archive72hrButton').attr(\"disabled\", false); \n            $('#archive168hrButton').attr(\"disabled\", false); \n        }\n",
        "output": "str",
        "x": 650,
        "y": 500,
        "wires": [
            [
                "6f5a5e46.8a941"
            ]
        ]
    },
    {
        "id": "9caafb0f1f33ec3d",
        "type": "subflow:8341090a.df9758",
        "z": "152d879257fe666c",
        "name": "",
        "x": 1290,
        "y": 620,
        "wires": []
    },
    {
        "id": "ea72affbdba78c7b",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "script.timePlot",
        "field": "payload.script.timePlot",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "// Archive JavaScript\n        var timePlotLength = 600000;\n        var timePlotLayout =\n        {\n            showlegend  : true,\n            legend      : { x: 0, y: 1.15},\n            height      : '500',\n            width       : '',\n            xaxis       :\n            {\n                type: 'date'\n            },\n            yaxis:\n            {\n                title           : 'Position (Steps)',\n                titlefont       : {color: '#557a95'},\n                tickfont        : {color: '#557a95'},\n                gridcolor       : '#beceda',\n                zerolinecolor   : '#beceda',\n                linecolor       : '#beceda'\n//                rangemode       : 'tozero'\n            },\n/*\n            yaxis2:\n            {\n                title           : 'Steps to turn',\n                titlefont       : {color: '#f2a31f'},\n                tickfont        : {color: '#f2a31f'},\n                gridcolor       : '#f2a31f',\n                zerolinecolor   : '#f2a31f',\n                linecolor       : '#f2a31f',\n                overlaying: 'y',\n                side: 'right'\n                range: [0, 100]\n            },\n*/\n            margin: \n                {\n                    t: 30, //top margin\n//                    l: 0, //left margin\n//                    r: 0, //right margin\n//                    b: 20 //bottom margin\n                },\n        };\n        var timePlotTraces = [];\n        timePlotTraces[0] = \n        {\n            x: [],\n            y: [],\n            name: 'Position',\n            yaxis: 'y1',\n            type: 'scatter',\n            mode: 'lines',\n            line: {color: 'blue'}\n    \n        };\n        function addTracePointsToTimePlot(pts)\n        {\n            var now = new Date().getTime();\n            var plotBeginning = now - timePlotLength;\n            var removeDone = false;\n            while(!removeDone)\n            {\n                if (timePlotTraces[0].x[0] < plotBeginning)\n                {\n                    for (var ii = 0; ii < timePlotTraces.length; ++ii)\n                    {\n                        timePlotTraces[ii].x.shift();\n                        timePlotTraces[ii].y.shift();\n                    }\n                }\n                else\n                {\n                    removeDone = true;\n                }\n            }\n            for (var ii = 0; ii < timePlotTraces.length; ++ii)\n            {\n                timePlotTraces[ii].x.push(now);\n                timePlotTraces[ii].y.push(pts[ii]);\n            }    \n            Plotly.newPlot(\"timePlotChart\", timePlotTraces, timePlotLayout);\n        }\n\n",
        "output": "str",
        "x": 660,
        "y": 460,
        "wires": [
            [
                "8a2cca551d64f879"
            ]
        ]
    },
    {
        "id": "64b8974a8d469849",
        "type": "template",
        "z": "152d879257fe666c",
        "name": "html.timePlot",
        "field": "payload.html.timePlot",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!-- Dashboard HTML -->\n        <div class='row' style='padding-bottom: 25px;'>\n            <div class='col-md-12' align='center'>\n                <div class='card'>\n                    <p class='card-title'>Time Plot</p>\n                    <div class='card-body' align=\"center\">\n                        <div id=\"timePlotChart\" width=\"100%\" ></div>\n                    </div>\n                </div>\n            </div>\n        </div>\n",
        "output": "str",
        "x": 970,
        "y": 420,
        "wires": [
            [
                "7974c464.11ebac"
            ]
        ]
    },
    {
        "id": "94525342a884393d",
        "type": "inject",
        "z": "152d879257fe666c",
        "name": "stepperDevice",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "stepperDevice",
        "payload": "STEPPER",
        "payloadType": "env",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "fdfbcac7.35b388"
            ]
        ]
    },
    {
        "id": "16c60d1b8ba8d827",
        "type": "function",
        "z": "152d879257fe666c",
        "name": "Route msg",
        "func": "msg.topic = JSON.parse(msg.payload).payload.topic.split(\"/\")[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 840,
        "wires": [
            [
                "2df225765b4657d9"
            ]
        ]
    },
    {
        "id": "2df225765b4657d9",
        "type": "switch",
        "z": "152d879257fe666c",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "blinky-beadpull",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "blinky-stepper",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 840,
        "wires": [
            [
                "ea909034.6fb25"
            ],
            [
                "8e614b0d16edaa84"
            ]
        ]
    },
    {
        "id": "8e614b0d16edaa84",
        "type": "function",
        "z": "152d879257fe666c",
        "name": "Prep MQTT",
        "func": "var mqttMsg = JSON.parse(msg.payload).payload\nreturn mqttMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 860,
        "wires": [
            [
                "79338dae9648d70e"
            ]
        ]
    },
    {
        "id": "79338dae9648d70e",
        "type": "mqtt out",
        "z": "152d879257fe666c",
        "name": "Publish to Stepper",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "79250bf3.365cc4",
        "x": 870,
        "y": 860,
        "wires": []
    }
]